[2015-01-06 23:27] stuartpb opened #4 "Buildpack name and order"
I'm... not wild about `heroku-buildpack-multi` being arbitrarily special-cased in the buildpack loop (https://github.com/gliderlabs/herokuish/blob/master/include/buildpack.bash#L76). I could well have a meta-buildpack similar in nature that I'd want to run before other buildpacks, or even before buildpack-multi.

I'd rather the `build` command take an optional list of buildpacks to execute (defaul

[2015-01-07 01:37] stuartpb commented on #4
*With* a good alternative, though, this should be removed, at least as an inherent/implicit part of the code (what if I have a directory of meta-buildpacks where heroku-buildpack-multi should be executed *last*?)

This is how Plushu's buildpack system implicitly works right now (each buildpack gets a numeric prefix), and it's a pain (plushu/plushu-buildpacks#1). I'm moving toward just maintaining

[2015-01-07 02:00] progrium commented on #4
The primary function of a list is to provide sort order, but as far as I
know from Deis/Flynn/Dokku, that only reason that matters is for the
special case of multi. So it would seem perhaps too though through to
provide a general solution for something that's not actually that important
(sorting *all* the buildpacks).

The solution I'm more in favor of doing on top of ascii sort is
configurable ho

[2015-01-07 05:12] stuartpb commented on #4
This is just hypothetical, but you could have a final fallthrough buildpack that only triggers when all other buildpack tests fail with a test that always returns `true` (for instance, one that treats the files as a static / Jekyll site).

[2015-01-07 05:23] progrium commented on #4
I'm confident that would create more confusion for any user of the system
than help. Either the platform supports your app and is detected by a
buildpack, or not. If it treats all unsupported apps as if they're
something they probably aren't, that's not good for anybody.

On Tue, Jan 6, 2015 at 9:12 PM, Stuart P. Bentley <notifications@github.com>
wrote:

--
Jeff Lindsay
http://progrium.com

[2015-01-09 21:09] aledbf opened #5 "It could be possible to specify slug_path?"

[2015-01-10 18:21] progrium commented on #5
Obviously if there is a use case that makes sense ... can you tell me why?

[2015-01-10 18:39] aledbf commented on #5
I want to remove the docker in docker build in deis and if the slug_path is the same it could be a problem to build multiple apps at the same time

[2015-01-10 18:40] progrium commented on #5
That sounds like it's asking for trouble. Why not run multiple app builds
in separate containers?

On Sat, Jan 10, 2015 at 12:39 PM, Manuel Alejandro de Brito Fontes <
notifications@github.com> wrote:

--
Jeff Lindsay
http://progrium.com

[2015-01-11 21:24] #5 closed

[2015-02-10 20:21] progrium opened #12 "more functional tests"

[2015-02-10 20:57] progrium opened #13 "support configurable multi-process supervisor, namely forego"

[2015-02-13 09:26] johanneswuerbach commented on #12
Could you describe further, what do you mean here?

[2015-02-16 16:25] progrium commented on #12
Not integration tests against apps, but just making sure commands work as expected.

[2015-03-25 15:41] fsouza opened #15 "run herokuish as unprivileged user"
Currently, herokuish is required to be called as a privileged user and then drop the privilege to an unprivileged user. Would you be interested in a patch allowing herokuish to be called by an unprivileged user.

For example, in the [unprivileged function](https://github.com/gliderlabs/herokuish/blob/master/include/herokuish.bash#L60), if the user is not privileged, herokuish can just invoke the c

[2015-03-25 16:05] progrium commented on #15
I think I'm down for this, and I understand why, but I'm curious if you've
thought through the implications of this? I don't have the answer off-hand,
but what kind of issues might we run into if we were to, say, only allow
running herokuish as an unprivileged user?

On Wed, Mar 25, 2015 at 10:41 AM, Francisco Souza <notifications@github.com>
wrote:

--
Jeff Lindsay
http://progrium.com

[2015-03-25 16:20] fsouza commented on #15
I don't think I'm qualified to answer this question, but from a quick look in the code, there would need to be some changes in functions like procfile-setup-home and buildpack-setup, that call ``usermod`` and ``chown``.

herokuish could require a privileged user for setting up stuff (e.g. building buildpacks) and accept an unprivileged user for exec tasks (e.g. procfile-exec). What do you think?

[2015-03-30 02:07] MatthewMueller opened #16 "where are the executable now?"
When running a compiled node image, it works if I run `/start web`, but doesn't work if I just call `npm` or `node`.

Higher-level, it doesn't seem possible to execute files with these binaries in Dokku plugins, so for example in a node script:

[code]

Will not be able to find the `node` executable, if I just try to run them on the container via:

[code]

Is there something I need to update in th

[2015-03-30 02:34] MatthewMueller commented on #16
Ahh cool, looks like I can just run `/exec make build` now.

Looks like some folks are going to need to update their plugins though, haha.

[2015-03-30 02:34] #16 closed

[2015-03-30 22:04] progrium commented on #16
Can you tell me exactly what was being run before and *how*?

On Sun, Mar 29, 2015 at 9:34 PM, Matthew Mueller <notifications@github.com>
wrote:

--
Jeff Lindsay
http://progrium.com

[2015-03-30 23:36] progrium commented on #15
Actually can you go into more detail as to why this is necessary? Which part needs to be run unprivileged in your case?

[2015-03-31 00:57] MatthewMueller commented on #16
**before**

You could just do something like..

[code]

Now:

[code]

But this works:

[code]

[2015-03-31 02:08] progrium commented on #16
Interesting. Dokku might need to update `run` to pass through `/exec` and then using `/exec` won't be necessary. cc @josegonzalez

[2015-03-31 02:10] josegonzalez commented on #16
What does /exec do in this context?

[2015-03-31 02:11] progrium commented on #16
https://github.com/gliderlabs/herokuish/blob/master/include/procfile.bash#L14-L22

Among other things, it sets up the correct PATH.

[2015-03-31 02:30] MatthewMueller commented on #16
Ohhhh +1

[2015-03-31 02:33] josegonzalez commented on #16
I think we already pass the commands via `/exec` [here](https://github.com/progrium/dokku/blob/master/plugins/00_dokku-standard/commands#L141-L154)?

[2015-03-31 02:37] MatthewMueller commented on #16
Yikes, false alarm guys. It's working in the latest release `0.3.16`. Thanks for the support!

[2015-03-31 03:09] MatthewMueller commented on #16
Thinking about it a bit more, this is definitely a breaking change for a lot of plugins I've seen, for example: https://github.com/MatthewMueller/dokku-make-build-plugin/blob/master/post-release#L12-L16

[2015-03-31 03:25] progrium commented on #16
It sure is! Good thing Dokku is pre-1.0 and there was a warning to plugin
authors... :P

On Mon, Mar 30, 2015 at 10:09 PM, Matthew Mueller <notifications@github.com>
wrote:

--
Jeff Lindsay
http://progrium.com

[2015-03-31 05:23] MatthewMueller opened #18 "Multiline execs"
This is *probably* a bash issue, but I could use some guidance and some other people could use this as a reference.

I'm really struggling to execute a multi-line command within a container:

[code]

Yields the following:

[code]

Basically, I think it's the arrows. It'd be nice to have them outside the container, but I only want output if the file exists.

/cc @michaelshobbs @josegonzalez (if you

[2015-03-31 05:30] MatthewMueller commented on #18
If I run it inside the container, no problems:

[code]

[2015-03-31 12:40] progrium commented on #18
Bash lexical evaluation is basically impossible to reason about beyond one layer of indirection because of quoting and potential mistakes. I would just avoid it because once you figure it out it will not be maintainable. Solve by redesign. Can you make this exist as a parameterized script inside the image?

[2015-03-31 13:15] fsouza commented on #15
@progrium sure. I'm plugging herokuish in tsuru, and tsuru already handles the permission dropping for user, so containers already run as unprivileged users. This doesn't match the the flow of herokuish, that is required to run as root. We could change the way we handle user privileges, but I was wondering whether you'd be interested in making herokyish runnable as an unprivileged user.

Thanks fo

[2015-03-31 13:18] progrium commented on #15
Cool. I'm just concerned if it would be capable of doing everything it needs to do entirely unprivileged. Also adds another layer of complexity / possible states to the user model. If you make a patch as a proof of concept to prove that it works for you, then we can figure out from there if it works to merge or merge with some changes.

[2015-03-31 13:28] fsouza commented on #15
Seems good to me, I will work on it.

Thank you!

[2015-03-31 17:28] MatthewMueller commented on #18
Yah... haha. I ended up breaking it apart, which makes much more sense:

https://github.com/MatthewMueller/dokku-make-hook/blob/master/make-hook#L8-L16

Thanks for your response!

[2015-03-31 17:28] #18 closed

[2015-04-03 23:54] michaelshobbs opened #19 "latest nodejs buildpack fails with permission denied"
Using this sample repo fork (https://github.com/michaelshobbs/node-js-sample) I get the following permission denied error when deploying with dokku.

[code]

[code]
EDIT: I believe this to be the offending code. However, this is fairly irrelevant since `/tmp/buildpacks/custom` should probably be owned by the anonymous user?

https://github.com/heroku/heroku-buildpack-nodejs/blob/40214da800dadf60b9

[2015-04-04 00:03] progrium commented on #19
Yeah I'm not exactly sure why `/tmp/buildpacks/custom` is not properly set up. It *should* be an easy fix, but I haven't looked yet.

[2015-04-08 00:35] OwlyCode opened #24 "buildback not included in slug, wrong path ?"
Hello,

I was playing with herokuish and stumbled upon this :

When mounting a volume with my app in `/tmp/app` and doing this in the container :

[code]

Then the slug I get in /tmp/slug.tgz is the source as imported in `/tmp/app` and not the app I just built in `/app`.

[2015-04-08 00:59] progrium commented on #24
Ah, took me a while to see what you meant and what could be happening. It does the import on every run, so `slug generate` would overwrite the result of the build. It should not import if APP_PATH is not empty. Okay, that's a bug. Sorry, importing is new.

[2015-04-10 09:26] alex88 commented on #19
Same error here with the ruby buildpack after and including version 130

[2015-04-11 03:09] iDiogenes opened #25 "herokuish procfile start deletes my local project"
Hello,
I could be doing something incorrectly, but I am trying to launch herokuish image as part of a cluster using docker-compose.

my docker-compose.yml has the following:

[code]

My docker files look like

[code]

I run *docker-compose build* and then *docker-compose up*. It is my understanding that during the up command the Procfile should be read and ran which should bring up my webapp. Howe

[2015-04-11 03:49] iDiogenes commented on #25
Looks like this is the bit of code causing my issue https://github.com/gliderlabs/herokuish/blob/master/include/herokuish.bash#L122

Looks like I need to re-think I am using herokuish.

[2015-04-11 04:13] progrium commented on #25
Yeah, you're doing quite a few interesting things that don't make sense.

On Fri, Apr 10, 2015 at 10:49 PM, JD <notifications@github.com> wrote:

--
Jeff Lindsay
http://progrium.com

[2015-04-11 23:37] #25 closed

[2015-04-14 00:45] silverwind opened #26 "Update node.js buildpack for io.js support"
Hopefully this is the correct repo to file this against.

Using dokku 0.3.16, it seems the detection of `engines.iojs` in package.json isn't working and it falls back to node.js:
[code]

This feature has been working on official Heroku since around February, maybe the buildpack used here or by dokku is outdated?

[2015-04-15 00:31] silverwind commented on #26
The heroku pack at https://github.com/heroku/heroku-buildpack-nodejs seems to include the check. I've tried to rebuild buildstep as well as setting a custom repo in `.env`, no luck so far.

Again, sorry if this is the wrong repo.

[2015-04-16 17:35] silverwind commented on #26
Sorted it out by adding

[code]

in `~/ENV`. Quite hard to discover stuff like this.

[2015-04-16 17:35] #26 closed

[2015-04-16 17:42] silverwind commented on #19
Just hit the same issue.

[2015-04-19 10:22] patrickjahns commented on #19
This issue only seem to occure when using the v71 buildpack as a custom buildpack vs preinstalling it.

It seems that the permissions are not properly set for /tmp/buildpacks/custom or the other way around, the (unprivileged?) user has not enough rights to write there?

It doesn`t seem obvious to me, but when the download of a custom buildpack is done, is it executed as root or already as unprivil

[2015-04-19 17:24] #19 closed

[2015-04-20 08:15] alex88 commented on #19
Can we have a new version to be used with buildstep?

[2015-04-20 12:41] patrickjahns commented on #19
If you need it urgently, just build it yourself and rebuild the buildstep container on the machine where you use it

If you don`t want to install go, then just use the google/golang Dockerfile for it.
For reference see my 32bit repository [make.sh](https://github.com/dokku32bit/herokuish_32bit/blob/master/make.sh) and [build.sh](https://github.com/dokku32bit/herokuish_32bit/blob/master/build.sh) -

[2015-04-20 12:45] alex88 commented on #19
Thanks for the info @patrickjahns. It's not that urgent to do that, I'll wait :wink:

[2015-04-20 15:37] progrium commented on #19
Really you should just use Herokuish instead of Buildstep. Dokku should be
doing this soon. Somebody should submit a PR so it can happen sooner than
when I get around to it.

On Mon, Apr 20, 2015 at 7:45 AM, Alessandro Tagliapietra <
notifications@github.com> wrote:

--
Jeff Lindsay
http://progrium.com

[2015-04-20 18:28] michaelshobbs commented on #19
@progrium can you be more specific? what exactly needs to be done? is it just pulling a particular image from docker hub instead of downloading the buildstep release? in any case, drop the info here and I can PR it up.

[2015-04-20 18:54] progrium commented on #19
Yeah that's basically it. Right now Buildstep is pulled from a tgz on S3 in
the Makefile. Instead it should just pull gliderlabs/herokuish from Docker
Hub. Any reference to buildstep then just needs to change to herokuish.

People wanted to be able to use their own base image in Dokku, but you can
still achieve this by loading it however and tagging it as
gliderlabs/herokuish.

Thanks!

On Mon, Ap

[2015-04-20 19:19] patrickjahns commented on #19
@michaelshobbs

I will gladly help with the PR

Let`s move this to https://github.com/progrium/dokku/issues/1091

[2015-04-20 19:36] michaelshobbs commented on #19
:+1:

[2015-04-20 22:48] OwlyCode opened #28 "Procfile parse not working after slug import"
Hello there,

I generated a slug using herokuish. I now try to run a process from it but fail to parse the Procfile. Here's what I do :

[code]

The command exists with a 0 status code and nothing is displayed. The Procfile exists in `/app`. What could possibly go wrong ?

[2015-04-21 00:24] mgood commented on #28
Try `herokuish procfile parse web`, or another argument. It only prints out the command defined in the Procfile for that key, so if you want to start the app, you probably want to use `herokuish procfile start` instead.

[2015-04-21 21:53] OwlyCode commented on #28
I finally got what was wrong. I actually forgot to add the process name for the procfile parse. I then replaced it by a `procfile start web`. But still fail to have the slug running :

[code]

[2015-04-22 18:47] mgood commented on #28
Oh, you would need to run `herokuish buildpack build` (or the `/build` shortcut) as well before starting the app.

Have you taken a look at [Dokku](https://github.com/progrium/dokku) or [Deis](http://deis.io)? Both are platforms for running Heroku-style apps, and might be useful. Dokku uses Herokuish, and Deis will use it in the future.

If you're looking for a way to run Heroku-style apps on your

[2015-04-22 19:04] OwlyCode commented on #28
Thank you for the examples I'll give a look at the implementations. But I don't get why I need to do a build. I already ran the build and exported the slug. The one I am importing already have all the binaries.

[2015-04-22 19:22] mgood commented on #28
Oh ok, sorry I missed that you had already done the build. There might be an issue with the upstream PHP buildpack version currently included by Herokuish.

[2015-04-22 19:41] OwlyCode commented on #28
Looks to me that the files under `/app/.profile.d` are not sourced :

[code]

[2015-05-03 19:13] guss77 opened #29 "/tmp is way too small"
Depending on your setup /tmp may be mounted on a really small tmpfs (I think this depends on the operating system, but on Fedora 22 this is 64MB), which if not enough for herokuish to deploy real applications.

The problem is that herokuish is using /tmp/build as a temporary "build area" and when deploying application composed of multiple git repositories, this will quickly fill up the small RAM d

[2015-05-03 20:50] Benjamin-Dobell opened #30 "Incorrect parsing of Procfile commands"
Procfile command parsing is using ```eval``` (https://github.com/gliderlabs/herokuish/blame/41aeaed24f778bf9582f9112e2cf79418f7fc8cc/include/procfile.bash#L21):
[code]

Doing ```$(eval <blah>)``` doesn't serve a purpose, it just breaks commands that include quotes.

my-quotes.sh:
[code]

Execution example:
[code]

Note that the quotes have been dropped. Also, variable expansion has taken place, wh

[2015-05-04 04:40] Benjamin-Dobell commented on #30
Now that I'm definitely using the latest buildstep I can confirm his pull request is *not* necessary using the latest buildstep - it's only "necessary" if you're using an old buildstep with the latest dokku-logging-supervisord.

Technically this change should have no real impact on execution, but the Herokuish bug means that this patch does not work with the current buildstep, so I'm closing this

[2015-05-04 21:09] mgood commented on #29
Can you provide some more details on the issue you encountered? How did you confirm that /tmp in the container is also mounted on a tmpfs?

Based on a quick look at containers on my local CoreOS and Boot2docker VMs, they don't mount a separate filesystem for "/tmp", so it will be stored within the Docker container's root filesystem (e.g. aufs, overlay, etc.)

Is there something in the default Dock

[2015-05-04 21:37] mgood commented on #28
@OwlyCode in your command, the `$PATH` is not quoted, so it will be evaluated by your shell first, before running the `herokuish` command. To see the value of `PATH` within the herokuish environment you can quote it to make sure it's passed through before being evaluated:

    /bin/herokuish procfile exec echo '$PATH'

For example, compare:

    root@5ee5be635a22:/# /bin/herokuish procfile exec ec

[2015-05-04 21:40] guss77 commented on #29
To check the file systems mounted, I've simply ran the gliderlabs/herokuish image with 'bash' as the command. The /tmp issue may be because Fedora by default /tmp is mounted on tmpfs.

[2015-05-06 17:45] mgood commented on #29
So, the quick solution is you can override the environment variables here to use a location other than `/tmp`: https://github.com/gliderlabs/herokuish#paths

Mounting a volume for `/tmp` does give you more space, but the directory will be left on the host when the container exits, and you would need to manually clean it up. There are paths like `/tmp/cache` you may want to mount, in order to prese

[2015-05-07 11:42] guss77 commented on #29
If I try to use `-e` to override the `BUILD_PATH`, the test fails:

[code]

[2015-05-20 11:59] OwlyCode commented on #28
Hello ! Thank you for your help ! I finally solved this :

I executed `/bin/herokuish procfile exec echo '$PATH'` and you were right, the PATH was correctly set. So I tried to run the php binary directly with absolute path. Turns out the php binary was in "permission denied" (read, write and exec).

It was a Docker issue (https://github.com/docker/docker/issues/783).

Now everything is building an

[2015-05-20 19:01] mgood commented on #28
@OwlyCode ah, good. Thanks for continuing to investigate. What did you change to get it working for you? From the issue it sounds like some recent changes in AUFS and Docker have addressed it, so did you upgrade Docker, or find another solution?

[2015-05-20 19:48] OwlyCode commented on #28
I upgraded Docker yes. And for the older versions I apply a workaround (moving the folder) as a temporary fix while working on other issues.

[2015-07-12 19:36] esantoro opened #40 "Go buildpack is a bit outdated"
The go version used by the go buildpack is a bit outdated, namely 1.2.1

Since we are approaching release 1.5, it would be nice imho to have at least version 1.4.x .

Go version at https://github.com/heroku/heroku-buildpack-go/ is 1.4.2

As far as I've seen, updating to version 1.4.2 should be as easy as pointing "buildpacks/buildpack-go/buildpack-version" to commit fa0679c from https://github.com

[2015-07-12 20:55] #40 closed

[2015-07-12 21:02] esantoro commented on #40
Thanks man!

[2015-07-13 19:28] progrium opened #50 "Push tests out to buildpacks repos"
Since Herokuish is based on the Heroku official image and is packaged up nicely to be run in Docker, we should try and get buildpack repo maintainers to let us submit a PR that uses Herokuish to test their buildpack the way we test them here. Some of them already use TravisCI, but that lets us submit a CircleCI manifest to just test against Herokuish. The argument being it's pretty damn close to t

[2015-07-14 09:48] pearlymaccha commented on #50
My herokuish version is:

herokuish: 0.3.1
buildpacks:
  heroku-buildpack-clojure   v63
  heroku-buildpack-go        b261aab
  heroku-buildpack-gradle    v12
  heroku-buildpack-grails    1ef927d
  heroku-buildpack-java      v33
  heroku-buildpack-multi     cddec34
  heroku-buildpack-nodejs    v76
  heroku-buildpack-php       v57
  heroku-buildpack-play      v23
  heroku-buildpack-python    v53
  h

[2015-07-14 14:37] josegonzalez commented on #50
@pearlymaccha [Please read the readme](https://github.com/gliderlabs/herokuish#buildpacks).

[2015-08-03 14:10] teamon opened #60 "Error: EACCES, mkdir '/app/.npm' when using node buildpack"
I just tried building my app using heroku-buildpack-nodejs and got this:

[code]

Any ideas what could be the cause?

[2015-08-11 15:05] tony-kerz opened #62 "question: (basic) best practice for using herokuish to create a runnable image"
hi,

apologies in advance for beginner question (feel free to redirect me to more appropriate forum).

i have been using [tutum/buildstep](https://github.com/tutumcloud/buildstep) to build a runnable image [like so](https://github.com/tutumcloud/buildstep#usage) as part of a home-grown build pipeline using jenkins, git and a docker runtime platform.

i recently wanted to [use an iojs runtime in a

[2015-08-11 15:30] progrium commented on #62
You'd use `docker run`. I suppose the readme doesn't explain this well? I'll need to write better docs for end users.

[2015-08-12 13:58] tony-kerz commented on #62
i toyed with `docker run`, but it wasn't clear to me how to get to a built docker image that way.

i was able to get the desired effect with a `Dockerfile` that looks like this:

[code]

and running:

[code]

(in my case, my app is just a node command-line app)

does that seem like a reasonable approach?

[2015-08-12 14:18] progrium commented on #62
Yeah that works alright, too.

On Wed, Aug 12, 2015 at 8:58 AM, tony kerz <notifications@github.com> wrote:

--
Jeff Lindsay
http://progrium.com

[2015-08-12 14:30] #62 closed

[2015-08-20 23:47] msabramo commented on #62
What would the `docker run` approach look like?

[2015-08-20 23:51] msabramo commented on #62
[code]

seems to execute without any errors, but where is the new image?

[2015-08-21 14:06] msabramo opened #63 "Changes not persisted between buildpacks?"
I must be misunderstanding how herokuish works; hopefully someone can explain what's going on here.

In my `.buildpacks`, I specify 2 buildpacks -- the official Heroku python buildpack and a custom one that I am developing for the tox testing tool.

When the python buildpack executes, I can see it install python and pip in `/app/.heroku/python/bin` and then it uses `pip` to install a bunch of pack

[2015-08-25 18:17] michaelshobbs opened #64 "child process does not receive process signals"
I have (as I assume many do) the need to catch `SIGTERM` upon container shutdown to handle some cleanup. Currently, it seems, herokuish does not pass this through. See below:

example app code ([repo](https://github.com/michaelshobbs/node-js-sample)):
[code]

Dockerfile.herokuish:
[code]

Procfile
[code]

docker
[code]

herokuish
[code]

[2015-08-25 18:28] michaelshobbs commented on #64
Verified this works on heroku:

[code]

[2015-08-25 18:31] progrium commented on #64
Ah, yes. Great find. Curious if buildstep did this? I thought it ran Bash, which AFAIK doesn't proxy signals. We'd have that problem here as well, but I think some `exec`'s will fix it. The outer Go program can proxy signals pretty easily, which we can add to https://github.com/progrium/go-basher

... then we'd probably want an exec here:
https://github.com/gliderlabs/herokuish/blob/master/include

[2015-08-25 18:59] michaelshobbs commented on #64
Oh yeah not a completely new issue. Definitely happened in buildstep too.

Dockerfile.buildstep
[code]

buildstep:
[code]

docker (for completeness)
[code]

[2015-08-25 19:07] michaelshobbs commented on #64
@progrium I can definitely make a PR against herokuish easily. Not too sure about go-basher.

[2015-08-25 19:14] progrium commented on #64
If you just make an issue in go-basher to track it I can be sure to get it
done myself or by GL staff. ;)

On Tue, Aug 25, 2015 at 2:07 PM, Michael Hobbs <notifications@github.com>
wrote:

--
Jeff Lindsay
http://progrium.com

[2015-08-25 19:42] michaelshobbs commented on #64
@progrium in herokuish.bash i'm not sure where the exec should go. something like this?

[code]

[2015-08-25 20:18] progrium commented on #64
Yeah, that would turn the current Bash process started by go-basher that's
running all this bash into setuidgid, which presumably execs into the
second argument.

However, since we eval the Procfile line and run in Bash, the way this is
called in procfile-exec is just execing into Bash again, so we'd need an
exec inside that one as well.

On Tue, Aug 25, 2015 at 2:42 PM, Michael Hobbs <notificatio

[2015-09-04 02:00] josegonzalez commented on #64
@michaelshobbs is everything here fixed?

[2015-09-04 02:26] michaelshobbs commented on #64
Fixed by #65

[2015-09-04 02:26] #64 closed

[2015-09-30 23:17] michaelshobbs opened #69 "persistent user AND userid"
When using herokuish (+dokku) and docker volumes, the randomized user id is less than ideal. Thoughts on allowing a `$USERID` variable to be passed in?

I'm willing to do the work but wanted feedback on the implementation.

[2015-09-30 23:28] josegonzalez commented on #69
IIRC dokku-alt did this in their buildstep branch.

[2015-09-30 23:37] michaelshobbs commented on #69
I looked through their stuff but didn't see the commit.....

Regardless, are you saying they did the same or implemented differently?

[2015-10-07 20:49] progrium commented on #69
Uggghhhhh I remember thinking we had a solution for this but I've forgotten that whole domain since. Or maybe that was just user. Seems like this makes sense.

[2015-10-07 20:53] michaelshobbs commented on #69
Currently we just offer a username override (with env var) but that user must exist in the `herokuish` image already. I ended up building my own and then creating [this very simple](https://github.com/expa/dokku-app-user) dokku plugin.

[2015-10-22 15:45] josegonzalez commented on #69
@michaelshobbs might be worth doing this as a PR to fix the issue :)

[2015-10-22 15:55] michaelshobbs commented on #69
I haven't come up with a general implementation yet. However, would it be out of reason to create a default user in the image and document its existence and how to use it? (i.e. `$USER`)

[2015-10-23 03:04] josegonzalez commented on #69
That seems like a reasonable idea to me.

[2015-11-15 02:05] hhff opened #79 "Add buildpack-nginx for Static Site Support"
Not sure how we'd want to add this - via Submodules or Trees?  Or just a flat copy?

refs: progrium/dokku#1433

[2015-11-16 19:39] fsouza commented on #15
Thanks for all the help, I'm closing it, as it's working in tsuru now.

[2015-11-16 19:39] #15 closed

[2015-11-17 14:27] andor44 opened #80 "Procfile parsing seems very fragile"
Earlier today, while trying to deploy an app to Dokku I had a simple Procfile which looked like this
[code]

Can you spot the error? Yeah, I couldn't either. As it turns out, herokuish expects a space after the colon and threw [this](https://gist.github.com/andor44/00ea298f6795dc383549) nasty stack trace in my face. Neither foreman nor "real" Heroku seems to care about the presence of the space, o

[2015-11-17 15:45] progrium commented on #80
Perhaps our YAML library is too picky. Since it's never more complex YAML, we could switch to basic string splitting mechanisms that would be more robust.

[2015-11-25 22:14] josegonzalez commented on #79
Done as of #84.

[2015-11-25 22:14] #79 closed

[2015-11-25 22:36] hhff commented on #79
:+1:

[2015-12-13 20:13] FLYBYME opened #87 "Get to work on ARM"
What would it take to get this to work on ARM?

[2015-12-14 17:12] michaelshobbs commented on #87
Which version of ARM should we support? (I have limited exposure to this architecture.)

NOTE on `GOARM` https://github.com/golang/go/wiki/GoArm

[2015-12-14 17:28] josegonzalez commented on #87
[Scaleway](https://www.scaleway.com/) uses ARMv7.

[2015-12-14 17:31] FLYBYME commented on #87
Yes Im looking at ARMv7 from scaleway. I dont think Ill have a problem compiling herokuish, but what about the buildpacks running on arm? Are they locked into an architecture?

[2015-12-14 17:32] michaelshobbs commented on #87
In general, no, not that I am aware of.

[2015-12-14 17:33] FLYBYME commented on #87
@michaelshobbs Ok thanks Ill give it a try today and see how it does.

[2015-12-14 18:49] FLYBYME commented on #87
Sorry for been thick headed but how do you build this?

[2015-12-14 19:38] FLYBYME commented on #87
Why would I get an error like this:

[code]

I dont know much about go so Im kinda going error by error.

I built an image of `heroku/cedar:14` to work on arm.

I run this: ` mkdir -p build/linux  && GOOS=linux  go build -ldflags "-X main.Version 0.3.5" -o build/linux/herokuish`

I dont really understand what Im going.

This is the output then I run make.

[code]

[2015-12-14 19:55] michaelshobbs commented on #87
Ah! We assume `exec` is available on the system. Is this not true on ARM?

[2015-12-14 20:04] FLYBYME commented on #87
`exec: usage: exec [-cl] [-a name] [command [arguments ...]] [redirection ...]` its available.

[2015-12-14 20:16] FLYBYME commented on #87
Ran make again and got a new error.

[code]

[2015-12-14 20:27] michaelshobbs commented on #87
Is the problem we're copying the linux built version and trying to run that? Are we sure that target is built to run on ARM?

[2015-12-14 20:40] michaelshobbs commented on #87
Maybe there's some issue with running progrium/go-basher on ARM?

[2015-12-14 20:53] FLYBYME commented on #87
I have recompiled go and going to go give it another.. go.

[2015-12-14 21:01] FLYBYME commented on #87
I really dont have the knowledge need to get this to work.

[code]

Im going to start playing around with an older version `0.2.0` and see if that might work.

@michaelshobbs If it might help getting this done I can set you up with an instance from scaleway, maybe you could do a better job then me.

[2015-12-14 21:21] michaelshobbs commented on #87
haha go...go...go! :smile:

I'd love to help out here. However, I won't have time to work on this until next week or the week after. Feel free to set me up with an account and keep banging away as much as you have time to do. I'm glad to pick up wherever you end up running out of time.

Thanks for jumping in on this!

[2015-12-15 02:03] FLYBYME commented on #87
im on the IRC and it seems that the problem is with https://github.com/progrium/go-basher/blob/3321ddc36cac3290fefc851285d40348b1f69b5b/basher.go#L254

I think it is missing error checking.

[2015-12-15 02:43] FLYBYME commented on #87
So i spent all day trying to fix this problem. @kron4eg pointed me in the right direct. The problem is that bash is hard coded into go-basher.

I fixed the with this "cp /bin/bash ~/.basher/bash"

Thank you @kron4eg

[2015-12-15 18:12] michaelshobbs commented on #60
Looks like a permissions issue between the container user and the underlying docker-volume mount.

[2015-12-15 18:13] michaelshobbs commented on #30
Can you confirm this is still an issue?

[2015-12-15 18:14] michaelshobbs commented on #29
Is there something to do here for herokuish specifically?

[2015-12-15 18:15] #28 closed

[2015-12-15 18:18] michaelshobbs commented on #24
This looks to be addressed [here](https://github.com/gliderlabs/herokuish/blob/019888cb6f0634a3ef8f8765c88070de1cef7c11/include/slug.bash#L8-L9)?

[2015-12-15 18:21] michaelshobbs commented on #63
Not sure how to recreate this issue. Can you confirm it still exists in `0.3.6`?

[2015-12-15 18:25] michaelshobbs commented on #13
I don't think herokuish should be opinionated about which supervisor is used. I chose supervisord but someone else might choose forego or foreman.

How might this happen without implementing a specific multi-process supervisor?

[2015-12-15 18:35] michaelshobbs commented on #4
Closing as there's nothing seemingly actionable here.

[2015-12-15 18:35] #4 closed

[2015-12-15 19:11] #80 closed

[2015-12-31 11:54] josegonzalez commented on #87
@FLYBYME have you made any progress on this front recently?

[2015-12-31 17:31] FLYBYME commented on #87
Yes I got it working but the buildpacks mostly wont work. They are all x86/arm64

[2015-12-31 23:20] josegonzalez commented on #87
Can we rebuild buildpacks?

[2015-12-31 23:23] FLYBYME commented on #87
Im going to do what I can and add them here https://github.com/raft-buildpacks-arm

[2016-01-04 09:57] ignlg opened #105 "Permission denied on /tmp directory"
Since I updated the herokuish image, I cannot compile nginx as a build step due to:

[code]

I've mounted a container to check it and these are the `/tmp` permissions:
[code]

Changing permissions to standard
[code]
fixes the compilation issue, as expected.

Shouldn't it be world-writable as in any standard *nix setup?

[2016-01-04 10:08] ignlg commented on #105
Pulling latest image fixed the issue. Something weird happening on Dokku setup.

[2016-01-04 10:08] #105 closed

[2016-01-04 10:17] josegonzalez commented on #105
and

Sounds like maybe you didn't pull the latest version? :)

[2016-01-04 11:13] ignlg commented on #105
@josegonzalez  It happened using the herokuish installed via apt (with an `apt-get update`). I fixed it with a manual `docker pull gliderlabs/herokuish` but the issue is still there, somewhere in the setup process via apt.

[2016-02-06 16:06] nemanjan00 opened #111 "Problem with starting build"
So, I have problem with using Herokuish. I run /build, commit image and, then, when I try to run /start, I get:

[code]

Below is how it happened...

Also, as you can see below, I checked and /app/Procfile is there...

[code]

[2016-02-06 16:24] nemanjan00 commented on #111
This is very strange...
[code]

Looks to me like /start deletes /app inside...

[2016-02-06 16:37] nemanjan00 commented on #111
Figured it out. I had empty /tmp/app...
But I still think this is an issue...

[2016-02-27 04:25] mainto commented on #87
I compiled dokku, herokuish, heroku-buildpack-nodejs and I tested on my Raspberry Pi 2 (4.1.12-hypriotos-v7+)

[code]

when I push a node app to my pi dokku, it takes a while to build but it works.
still it show some error message but app is deployed.
I believe that it is still needed lots of test and it is just first step for me.

I paste push output for node-js-getting-started from heroku
and ur

[2016-03-02 07:11] SolarisYan opened #112 "custom the url for download"
how can i set the url for download?
ex: i want to deploy a node app,when i use the cmd:
docker run --rm -e TRACE=true -v /root/nodejs-flynn-example:/tmp/app gliderlabs/herokuish /bin/herokuish test
it alwalys fail to download the node-v0.10.42-linux-x64.tar.gz from the url :http://s3pository.heroku.com/node/v0.10.42/node-v0.10.42-linux-x64.tar.gz

i want to set the url ,but how?

the logs:

::: BU

[2016-03-02 14:10] michaelshobbs commented on #112
I'm not sure you can fully customize that URL.

A few things to try:
1. Try downloading that URL manually to verify its existence
2. Change the node/npm versions in package.json to something more recent. Is that version still available for download?
3. Pass `-e BUILDPACK_URL=<url-to-buildpack-repo>` in order to use the latest buildpack version. Perhaps they moved the file repo and updated the refe

[2016-03-02 20:04] josegonzalez commented on #112
Since we use the upstream heroku buildpack for it, I think you'd need to fork the buildpack to add that functionality.

[2016-03-02 20:04] #112 closed

[2016-03-03 06:45] SolarisYan opened #113 "how to deploy app"
can i use herokuish to deploy my app? i can use
docker run --rm -v /abs/app/path:/tmp/app gliderlabs/herokuish /bin/herokuish test
to test my app,but how to deploy it?
anyone can help me?

[2016-03-03 07:10] SolarisYan commented on #111
@nemanjan00 can u tell me the whole workflow how to use herokuish to deploy an app?thank u

[2016-03-03 08:22] SolarisYan commented on #111
![image](https://cloud.githubusercontent.com/assets/8148762/13487909/952e4c9c-e158-11e5-8821-b4f9452d6b9f.png)

what's wrong about this?

[2016-03-03 09:35] josegonzalez commented on #113
Herokuish doesn't "deploy" applications. You can use it to create docker images, and then use some other tool to start those containers elsehwere.

You should read the documentation on [docker images](https://docs.docker.com/engine/userguide/containers/dockerimages/#creating-our-own-images) for more details.

[2016-03-03 09:35] #113 closed

[2016-03-06 12:46] nemanjan00 commented on #111
When I mount app in /tmp/app, /tmp/app stays created.
So, when I do build, it builds, but since there is empty /tmp/app in new container, when I run start, it just deletes /app and copy empty /tmp/app

[2016-03-06 17:32] singlow opened #114 "Slowness on App start"
I am using herokuish in dokku and there is a long delay before app starts. I have narrowed it down to this line:

https://github.com/gliderlabs/herokuish/blob/master/include/procfile.bash#L91

Since the container image is AUFS, the chown is causing every single file in /app to be modified, which means copying every file. Chown may be the most efficient under normal circumstances, but when it is ca

[2016-03-06 22:51] sergium opened #115 "config_vars section from .release ignored"
Problem:
  - Heroku's build-packs not compatible with dokku after the dokku's migration from the buildsteps to herokuish

Example:
  - https://github.com/heroku/heroku-buildpack-erlang
  - config_vars section from the bin/release ignored
[code]
  - as result container that is startable on Heroku now not startable on the dokku

More details (reported as dokku-issue) here: https://github.com/dokku/d

[2016-03-07 10:23] SolarisYan commented on #111
@nemanjan00 get it,thx

[2016-03-07 16:30] michaelshobbs commented on #115
Root cause can be found here: https://github.com/dokku/dokku/issues/1972#issuecomment-193004819

[2016-03-07 16:48] josegonzalez commented on #114
@singlow your patch should also check for the unprivileged group (maybe a separate `find|xargs` call). I'd be happy to merge that :)

[2016-03-08 08:25] SolarisYan commented on #113
@josegonzalez got it,thx

[2016-03-08 08:30] SolarisYan commented on #112
@josegonzalez yes, i had,thx

[2016-03-08 17:14] #114 closed

[2016-03-08 17:27] #115 closed

[2016-03-08 22:40] #24 closed

[2016-03-08 22:41] #29 closed

[2016-03-08 22:41] #30 closed

[2016-03-08 22:41] #60 closed

[2016-03-08 22:42] #63 closed

[2016-03-15 06:00] SolarisYan commented on #111
@nemanjan00 can you tell me how to start the app?what's the solution about you?

[2016-03-15 06:08] SolarisYan opened #131 "how to start the app"
after i build the app with docker,and i commit it to a image,but how to start the app? use /start ?
in addition,after i build the app,how can i export the /app,when i use "herokuish slug generate",but only include the src app?

[2016-03-15 10:45] nemanjan00 commented on #111
Build works without any problems. Problem comes when I need to start app...
What I do to fix this is instead of doing
build->commit->start
I do

build->commit->rm -rf /tmp/app->commit->start

You can see in my script:
https://github.com/nemanjan00/heregistry/blob/master/build.sh

After this script is done, I can start that container...

[2016-03-15 13:17] michaelshobbs commented on #131
Did you get the answer you needed from #111?

[2016-03-17 02:56] SolarisYan commented on #131
@michaelshobbs yes,now i get the whole flow,thx

[2016-03-17 02:57] SolarisYan commented on #111
@nemanjan00 thx a lot!

[2016-03-17 03:00] #131 closed

[2016-03-17 03:01] SolarisYan opened #132 "can i build herokuish on other os"
i think the size of image gliderlabs/herokuish  is a bit big,it have  1.307 GB .so i want to build the herokuish with other os from the src code? can i ? if yes ,and how?

[2016-03-17 03:10] michaelshobbs commented on #132
herokuish is based on the Heroku cedar14 image. That's where all of the bulk is coming from. The buildpacks need a bunch of supporting packages in order to do their thing.

The commands to build herokuish are all in the Makefile for reference

[2016-03-17 03:11] #132 closed

[2016-03-17 03:15] SolarisYan commented on #132
@michaelshobbs got it,thank you

[2016-03-23 15:41] michaelshobbs commented on #111
I think this seems solved. Please feel free to comment if there's still something not working here.

[2016-03-23 15:41] #111 closed

[2016-03-29 22:05] michaelshobbs opened #133 "Detect appropriate buildpack like Heroku"
- We'd like to detect the appropriate buildpack in the same order as Heroku
  - https://devcenter.heroku.com/articles/buildpacks
- Additionally, we'd like to show **all** valid buildpacks for an app
<img width="936" alt="image 2016-03-29 at 6 05 39 pm" src="https://cloud.githubusercontent.com/assets/4491438/14125414/e8fbc07c-f5bf-11e5-9478-b926545c8c6c.png">

[2016-03-29 22:08] josegonzalez commented on #133
The screenshot comes from [this page](http://foundation.zurb.com/forum/posts/23119-deploy-foundation-for-apps-on-heroku).

[2016-03-30 04:24] josegonzalez commented on #50
@progrium do you know any current heroku buildpack maintainers? I might be able to reach out to the php one, I'm sure he'd love to add external CI to PRs :)

[2016-03-30 04:27] josegonzalez commented on #87
@michaelshobbs we probably fixed that `scripts` key bug in master, right? If so, looks like we might be in a good position to *somehow* do this. Maybe the scaleway folks have a way to do CI or something? Could be an easy way to add dokku support to arm if we can prove that herokuish and all buildpacks will build...

[2016-03-30 04:43] michaelshobbs commented on #87
yeah that's fixed. however, the issue is more around buildpack support on ARM. not sure that's in the scope of heroku support.... **shrug**

[2016-03-30 05:04] josegonzalez commented on #87
Ah right, they force-download certain compiled binaries.

[2016-04-11 01:40] alexking opened #143 "Add support for .tgz buildpacks"
It'd be nice if it were possible to install buildpacks from a `tgz` file. For example the [Ember JS buildpack](https://www.heroku.com/emberjs) requires you to install from their [prebuilt tgz](https://codon-buildpacks.s3.amazonaws.com/buildpacks/heroku/emberjs.tgz) instead of their [git repository](https://github.com/heroku/heroku-buildpack-emberjs.git) –

[buildpack-install](https://github.com/gl

[2016-04-14 20:17] michaelshobbs commented on #143
@alexking can you confirm if setting `BUILDPACK_URL` to `https://github.com/heroku/heroku-buildpack-emberjs`

If using dokku:
[code]

[2016-04-14 21:09] michaelshobbs commented on #143
Confirmed this does not work.
[code]

This is because the git repo does not include `vendor/buildpack`
[code]

[2016-04-14 21:10] michaelshobbs commented on #143
More background from the buildpack readme

The buildpack builds a CLI tool generically named, buildpack built on top of mruby-cli. It resides in the buildpack/ directory. buildpack is a CLI binary that has 3 subcommands that correspond to the Buildpack API:

detect
compile
release

[2016-04-14 21:12] michaelshobbs commented on #143
I think this should be as easy as detecting a `.tgz` file or a non-github url and then extracting to the buildpack dir.

Anybody have thoughts on the best way to detect whether we should `git clone` or `curl`/`wget`?

[2016-04-14 21:26] hhff commented on #143
can we use `git ls-remote` ?

[2016-04-14 21:29] hhff commented on #143
something like

[code]

[2016-04-14 21:42] michaelshobbs commented on #143
Good call. Now that you mention it, I believe that's how AWS does it in OpsWorks as well

[2016-04-15 01:19] michaelshobbs commented on #143
What's the deal with this buildpack? A completely different method of deployment and no release version. 😢

Maybe we should wait on implementing this until things stabilize? Afterall it was released just over a month ago.

[2016-04-15 01:42] michaelshobbs commented on #143
In order to test this we'll also need a sample ember app. Not sure bundling the heroku getting started app is kosher. 😬

[2016-04-15 14:32] hhff commented on #143
Happy to put together a sample fastboot'd ember app!

[2016-04-15 19:28] #143 closed

[2016-04-16 03:45] alexking commented on #143
Thanks so much for implementing this!!

[2016-04-22 17:44] itsluke commented on #143
Just a question about how everyone is upgrading the version of herokuish dokku is using?
I've tried:
[code]
but am getting an error `docker: Error response from daemon: Invalid volume spec ":/usr/src/myapp": Invalid volume specification: ':/usr/src/myapp'`

[2016-04-28 18:38] michaelshobbs commented on #133
Issue in the wild dokku/dokku#2151

[2016-05-03 11:25] simmerer commented on #143
Freshly created Dokku 0.5.6 droplet on DigitalOcean today, still seeing the same failure around the emberjs buildpack:

    $ git push dokku master
    Counting objects: 3678, done.
    Delta compression using up to 8 threads.
    Compressing objects: 100% (3539/3539), done.
    Writing objects: 100% (3678/3678), 850.05 KiB | 0 bytes/s, done.
    Total 3678 (delta 2410), reused 0 (delta 0)
    ---

[2016-05-03 14:23] michaelshobbs commented on #143
I cannot recreate this emberjs detect issue. Please open a new issue in dokku using our issue template. Thanks!

[2016-05-03 14:43] simmerer commented on #143
Will do!

[2016-05-17 16:05] KronicDeth opened #155 "heroku-buildpack-elixir does not see MIX_ENV"
The README said to file buildpack issues against herokuish, but this is when using https://github.com/HashNuke/heroku-buildpack-elixir with [Catalyze](https://catalyze.io/), which has said they use herokuish, and not Dokku or Heroku itself.

I had the `MIX_ENV=qa` set in the `catalyze vars`, which is how Catalyze has you set environment variables:

[code]

It wasn't seeing the MIX_ENV setting in t

[2016-05-17 16:35] josegonzalez commented on #155
It seems like that buildpack only reads that env var from the `MIX_ENV` file, as noted [here](https://github.com/HashNuke/heroku-buildpack-elixir/blob/342f1d3e37c4625d54f422c715a8f6d009d23a4e/lib/misc_funcs.sh#L59). No other buildpack does this, and I don't think we should support creating random files in a built container.

@michaelshobbs thoughts?

[2016-05-18 15:24] michaelshobbs commented on #155
dokku handles this compatibility via the [pre-build-buildpack trigger](https://github.com/dokku/dokku/blob/v0.5.7/plugins/build-env/pre-build-buildpack#L30) and it sounds like your PaaS provider has advised you to essentially do the same thing.

Alternatively, herokuish supports the [old `/app/.env` buildstep functionality](https://github.com/gliderlabs/herokuish/blob/v0.3.13/include/buildpack.bas

[2016-05-18 15:43] josegonzalez commented on #155
@michaelshobbs the old buildstep thing won't work because the buildpack explicitly pulls from a file called `MIX_ENV` (which is silly but it's not my buildpack so whatever).

Looks like you can also pull specific vars at compile time using [this option](https://github.com/HashNuke/heroku-buildpack-elixir#specifying-config-vars-to-export-at-compile-time) from your buildpack, @KronicDeth.

[2016-05-18 15:50] michaelshobbs commented on #155
@josegonzalez Oh good catch. Still high on cold meds.
Unfortunately, `export_mix_env` [is called after](https://github.com/HashNuke/heroku-buildpack-elixir/blob/342f1d3e37c4625d54f422c715a8f6d009d23a4e/bin/compile#L28-L29) `export_config_vars` and would override the first `MIX_ENV` setting. I would open an issue against the buildpack and even a PR that changes [this section](https://github.com/Has

[2016-05-20 22:09] #133 closed

[2016-07-14 01:53] joshmanders commented on #111
This can also be fixed to cut out the `rm -rf /tmp/app` step, by changing

[code]

To be

[code]

Basically this does the same check, but it also makes sure that the `/tmp/app` directory isn't empty.

[2016-07-14 06:13] josegonzalez commented on #111
Mind making a pull request with that change @joshmanders?

[2016-07-14 12:58] joshmanders commented on #111
@josegonzalez Can do later today. I forked this repo and made tons of changes and redid a lot of stuff for my own usage. https://github.com/stackci/builder, so I'll contribute a bit back here :)

[2016-08-05 21:19] pvencill opened #179 "Confused about exec vs. start & creating a runnable image"
I was following the example given in #62 to create a runnable image.  When I used their sample dockerfile to do so, I made one modification to the code to have it call `npm start` rather than the specific file stuff, since I always run my node apps that way.  The result was as follows:

`FROM gliderlabs/herokuish

RUN mkdir -p /app
COPY . /app
RUN /build

ENTRYPOINT ["/exec", "npm", "start]`

This

[2016-08-06 00:16] michaelshobbs commented on #179
Bare with me while I walk us (mostly me) through the execution path.

So, looking at the code, we map `/start` and `/exec` [thusly](https://github.com/gliderlabs/herokuish/blob/v0.3.18/include/herokuish.bash#L150-L151).

Indeed `procfile-start` calls `procfile-exec` [here](https://github.com/gliderlabs/herokuish/blob/v0.3.18/include/procfile.bash#L30-L44).

I know that flow works as we use it in d

[2016-08-06 09:45] pvencill commented on #179
Thanks for the explanation.  So the entrypoint I posted above was not a copy/paste from the Dockerfile, I just typed it here (missing the closing quote).

I tried rebuilding and re-running the exec version (no changes to the Dockerfile) and it works fine now, I'm at a loss as to why but since I can't repeat it at this point I'll close the issue.

[2016-08-06 09:45] #179 closed

[2016-08-07 23:00] michaelshobbs commented on #179
Hrm. Very odd indeed. Let us know if it pops back up.

[2016-08-24 20:06] jeffjewiss commented on #143
Hi @simmerer, did you ever get this resolved? I seem to have run into the same issue as you.

[2016-08-24 20:47] simmerer commented on #143
Sort of, @jeffjewiss. See https://github.com/dokku/dokku/issues/2158#issuecomment-217609859 - the ember buildpack issue turned out to a red herring, and it was me having a blank `Procfile` checked in to my repo that was causing my deploy failures. I still see the ember warning in the traceback, but my builds don't fail anymore.

[2016-08-25 18:59] jeffjewiss commented on #143
@simmerer thanks for the quick reply! It turns out my issue was a little different and the build failed when using:

`BUILDPACK_URL=https://github.com/heroku/heroku-buildpack-emberjs`

I had to use:

 `BUILDPACK_URL=https://codon-buildpacks.s3.amazonaws.com/buildpacks/heroku/emberjs.tgz`

to trigger the updates that unpackage the .tgz and make the bulidpack scripts available.

[2016-10-15 16:20] sosedoff opened #186 "Unable to use custom buildpack"
Im not sure if im doing something wrong or its a legit issue. Tried testing the application (both on OSX and Linux) with a custom static buildpack. Build command always exited with non-zero status.
I dont thinks is an issue with **that** particular buildpack, using any third-party one resulted in the same problem.

In the test application i created file `.buildpacks` with the following content:

[

[2016-10-16 17:25] michaelshobbs commented on #186
It looks like this particular invocation is getting stuck on the multi buildpack. If you only need to specify a single buildpack, it would probably be best to simplify this by removing `.buildpacks` and adding a `.env` file to the root of your repo with the following contents:

[code]

Give that a shot with `TRACE=1` and let us know what you see.

[2016-10-17 14:18] sosedoff commented on #186
Ok, i'll give it a try, however, i suspect there's something going on with heroku's multipack buildpack itself. I've tested a few different scenarios but haven't figured out the root cause yet. Again, using the same buildpack on heroku works, so it might as well be my local issue.

[2016-10-17 14:51] michaelshobbs commented on #186
Yeah it's almost certainly a local issue. I assumed you were wanting to troubleshoot deploying your app with the static buildpack and not the multi buildpack. Was trying to simplify the troubleshoot no process.

In order to do the latter you'll want to start a herokuish container with the same mounts and env but instead of running the `herokuish` binary, execute `bash`. From there you can edit the

[2016-10-17 14:54] michaelshobbs commented on #186
It should be noted (for those that might find themselves here from Google searches) that the preferred method of specifying a custom buildpack is to either pass `-e BUILDPACK_URL=...` or include a `.env` file in the root of your repo exporting that same environment variable.

[2016-10-17 17:11] sosedoff commented on #186
Btw, could you reproduce the issue? Here's what i did:

1. Created a new dir with only file `.buildpacks`
2. Added the following buildpacks:

[code]
3. Ran `docker run --rm -e TRACE=1 -v $(pwd):/tmp/app gliderlabs/herokuish /bin/herokuish test`.

So if you have valid ruby app (Gemfile present) then everything works, but if there's no ruby stuff in the dir test command fails with no error output. E

[2016-10-17 17:16] michaelshobbs commented on #186
Oh that's different than the original issue. (You had said you were using the static bp.) I'm happy to attempt to reproduce the problem. Do you have a sample app repo I can test with?

[2016-10-17 17:21] sosedoff commented on #186
Yeah, the issue seems to be slightly different. Here's the test repo: https://github.com/sosedoff/herokuish-issue-186
Clone and run: `./test.sh`

[2016-10-17 17:31] sosedoff commented on #186
Whats more interesting, i forked heroku's multipack builpack repo and added some instrumentations. Here's the line that triggers the exit:

https://github.com/heroku/heroku-buildpack-multi/blob/master/bin/compile#L44

[2016-10-17 17:36] michaelshobbs commented on #186
Yeah that happens because the ruby buildpack doesn't detect your app as compatible.

See here:
https://github.com/heroku/heroku-buildpack-ruby/blob/master/bin/detect#L7

[2016-10-17 18:45] sosedoff commented on #186
Closing this for now since the issue is not related to herokuish.

[2016-10-17 18:45] #186 closed

[2016-10-26 18:58] davidkarlsen opened #187 "not available for download"
the instructions at https://github.com/gliderlabs/herokuish say to download
"http://dl.gliderlabs.com/herokuish/latest/linux_x86_64.tgz" but the url is not availble.

[2016-10-26 19:24] joshmanders commented on #187
You can get downloads from the releases tab of this repo: https://github.com/gliderlabs/herokuish/releases

[2016-11-13 12:51] pierredavidbelanger opened #188 "Problem parsing .env file ?"
Clone the java-getting-started app:

[code]

`test` it:
[code]

I guess, this is due to the fact, that the `.env` file contains a space in its value:
[code]

Indeed, when I quote the value, I can go further into the build:
[code]

[2016-11-13 13:06] josegonzalez commented on #188
Spaces aren't valid values in unquoted shell, so yes, you will have to quote the value in order to have it be assigned.

[2016-11-13 13:15] pierredavidbelanger commented on #188
I know that. And I will surely not make this mistake in my own application.

But it seems Heroku will not treat `.env` file like a shell.

You understand that I am using the official Heroku unmodified java-getting-started app ?

And since:

I just assumed the official Heroku java-getting-started app would work unmodified.
This is why I reported this issue.

[2016-11-13 13:43] josegonzalez commented on #188
If you use the heroku cli to set the above environment variable, that is the following command:

[code]

Without quoting, that would result in an error since `GeV` would be parsed as a key without a specified value (actually it might set it to empty string, but its certainly not what you want).

Via the web ui, you are explicitly quoting as there isn't a way to specify multiple `key=value` pairs i

[2016-11-13 13:53] pierredavidbelanger commented on #188
During this tutorial https://devcenter.heroku.com/articles/getting-started-with-java
when I `git push heroku master`, it does not fail with an `GeV: command not found`.

I guess, what I expect is that I can build the official example app without error.

Why parsing the `.env` file at all during build time ?

[2016-11-13 18:46] michaelshobbs commented on #188
@pierredavidbelanger I get your point. Do you have a solution in mind or better yet a PR to make this work?

[2016-11-13 19:06] pierredavidbelanger commented on #188
@michaelshobbs Thank you.

 Also, I am sorry, I may be pushing this issue too hard ;)

I am new with this project, I may be wrong, but I think that removing [this if](https://github.com/gliderlabs/herokuish/blob/master/include/buildpack.bash#L93) will help.

Though, given the comment, it seems to be there for a reason ?

If I understand correctly, `.env` file is there to help devs simulate Heroku

[2016-11-13 19:20] michaelshobbs commented on #188
Unfortunately the reasoning for herokuish's support of `.env` is not so intentional. Additionally, removing that line will cause all apps that do not have a `.env` file to fail to build. That block is read "if the file `$app_path/.env` exists, then source it."

The problem is that bash has very strict parsing rules *and doesn't* have the additional constructs of a language like ruby; like what for

[2016-11-13 19:24] pierredavidbelanger commented on #188
When I say, removing the if, I mean, completely .. like, not sourcing .env at all ..

Or, if you really want to continue to source it (let say, maybe because actual users may depends on this), maybe you can try to source it, is a way [compatible with foreman](https://github.com/ddollar/foreman/blob/master/lib/foreman/env.rb).

[2016-11-13 19:29] michaelshobbs commented on #188
Ah! Understood. So that is there because some buildpacks still use it.

Please feel free to contribute to the project and make this work for you and the rest of the folks out there.

[2016-11-13 19:35] pierredavidbelanger commented on #188
I really wonder which official buildpack uses this file.

Even Heroku [recommend to .gitignore this file](https://devcenter.heroku.com/articles/heroku-local#add-a-config-var-to-your-env-file).

[2016-11-13 19:36] michaelshobbs commented on #188
Notice I didn't say "official"...

[2016-11-13 19:42] pierredavidbelanger commented on #188
Oh, indeed.

Well... I guess, for a clean fix, one need to parse the `.env` file as key=value entries instead of plain `source`ing it.

Unfortunately, I am not very good with bash nor regepx ;)

I will think about this.

Thank you for your time :)

[2016-11-13 20:55] #188 closed

[2016-11-13 20:57] #187 closed

[2016-11-13 21:13] michaelshobbs commented on #69
added in addfa60720699357c1f7d931f481dc0c2a1eccde

[2016-11-13 21:13] #69 closed

[2016-11-13 22:39] michaelshobbs commented on #188
@pierredavidbelanger `v0.3.20` has a basic (emphasis on basic) env file parser that will work with spaces. please give it shot.

[2016-11-13 22:59] pierredavidbelanger commented on #188
@michaelshobbs That was fast! Your fix is working for the heroku/java-getting-started application.

I just tried this:

[code]

It worked. Here is the relevant parts of the logs:

[code]

[2016-11-13 23:02] pierredavidbelanger commented on #188
Also, not related to the original issue:

I spotted this, near the end of the output:

[code]

I guess `html2text` is missing from the image.

[2016-11-14 00:31] josegonzalez commented on #188
@pierredavidbelanger yeah you can add that via apt-get in your own custom image. Is that available on heroku? If so, they haven't pushed out their latest changes to their oss project.

[2016-11-14 00:45] pierredavidbelanger commented on #188
I am not using a custom image. I am `docker build`ing straight from the root of your freshly cloned project.

Try this :

[code]

This tool seems not to be used used by the official java buildpack.

The `html2text: command not found` error, come from [your `herokuish test` command here](https://github.com/gliderlabs/herokuish/blob/master/include/herokuish.bash#L109)

I guess you expect it to be pr

[2016-11-14 00:52] josegonzalez commented on #188
Right, I'm saying that this package is not on the official heroku setup either:

[code]

If you want that binary, you'll need to make a new Dockerfile that uses our image and calls `apt-get install` on whatever package contains `html2text`.

[2016-11-14 00:58] joshmanders commented on #188
But herokuish relies on it, https://github.com/gliderlabs/herokuish/blob/3d7924427e89b62d950fc287173d5fe444edff0e/include/herokuish.bash#L109

So shouldn't that technically mean it should be installed in herokuish by default?

[2016-11-14 00:58] pierredavidbelanger commented on #188
I have no use for this package myself :)

I guess we are lost on translation here, I am sorry for that, my primary language is not english.

I just wanted to report to you, that your `herokuish test` command is throwing some `command not found` error. And this is due to the fact that `heroku/cedar:14` does not contains this package, nor your [default image](https://github.com/gliderlabs/herokuish/

[2016-11-14 01:05] josegonzalez commented on #188
Ah that is for tests, hence why it's in the `Dockerfile.dev `.

@michaelshobbs @progrium thoughts on including that in the base image, or replacing the usage in tests for something *is* in the base image?

[2016-11-14 10:09] znz opened #195 "remote: /tmp/bashenv.252471714: line 388: export: `=': not a valid identifier"
I tried to use dokku master and get some error on herokuish.

[code]

I think https://github.com/gliderlabs/herokuish/commit/465bbe14c9c2d144044a1ecb37572101133f3858 does not treat empty lines wrongly.

[2016-11-14 10:11] josegonzalez commented on #195
Do you have a `.env` file we can use to reproduce the issue?

@michaelshobbs good luck building a flexible .env file parser. I wrote one in php before completely trashing it in favor of [this comprehensive one](https://github.com/m1/env) because it was much easier to just not solve the problem :P

[2016-11-14 12:27] znz commented on #195
Auto-generated `/app/.env` by dokku without any config.

[code]

[2016-11-14 13:40] pierredavidbelanger commented on #188
I just saw #195

I *do* have pushed this issue too hard after all :)

I changed my mind on this.

I realized that herokuish is not (required to be) Heroku, and as so, Dokku take for granted that `.env` file *is* shell `source`-able.

I vote you revert 465bbe14c9c2d144044a1ecb37572101133f3858, instead of trying to code a key=value parser (that supports complex shell syntax and variable interpolatio

[2016-11-14 16:05] michaelshobbs commented on #195
I flubbed the blank line case. My bad. Fix en route....

[2016-11-14 16:51] #195 closed

[2016-11-14 17:33] michaelshobbs commented on #188
@josegonzalez I'm fine with including that in the base image. That's the "easiest" fix.

[2016-11-14 17:45] josegonzalez commented on #188
What else does it pull in? If it's just that binary, lets do it, otherwise I'm 👎 .

[2016-11-14 17:48] michaelshobbs commented on #188
It has no new dependencies
[code]

[2016-11-14 17:56] josegonzalez commented on #188
Alright, ship it (but add a caveat to our readme saying we include it for tests).

[2016-11-14 20:41] michaelshobbs commented on #188
Actually I think I only added that as part of the emberjs buildpack addition. I'll drop that too since we're not shipping with that buildpack anymore. c797745854679d464ece4ce4770f20f4302fffd4

[2016-12-07 09:09] durkode opened #205 "Silent failure if daemontools isn't installed"
I ran herokuish against my django app, using the default python:3.5 docker image. When running 'herokuish test', it complained that it was 'Unable to select a buildpack'. The buildpack detect function worked fine when run as root, and it was only after some digging that I realised my docker image didn't have the 'setuidgid' function, and such was failing silently. Installing daemontools in the con

[2016-12-07 16:32] michaelshobbs commented on #205
Thanks for the report. We'd definitely welcome a PR for that.

[2016-12-07 21:52] durkode commented on #205
Sure thing, will submit one soon

[2017-01-02 22:21] FLYBYME opened #216 "start exited with no output"
Im having a hard time figuring out why when I run `herokuish procfile start web` it does not start the application and just exits.

[code]

This is the trace output.ls /ap
https://gist.github.com/FLYBYME/a6e9cf6d5efaacc1342e0c212b27d828

[2017-01-03 21:52] FLYBYME commented on #216
These are the scripts im running to create and then run the application.

build.sh

[code]

and this is the runner
run.sh
[code]

[2017-01-04 00:07] michaelshobbs commented on #216
Can you provide the entire `docker run` cmd your are attempting to execute?

[2017-01-04 01:32] FLYBYME commented on #216
I dont know how else to show the work flow so I just used a public s3 host.

This is the work flow you can see https://github.com/MangoRaft/cedar

All Im doing is building the app in one container and the uploading the tar file to s3. Then I am downloading the uploaded tar file to a second container and trying to run it.

Im trying to save myself from creating a docker image for every build of an

[2017-01-04 01:46] michaelshobbs commented on #216
Apologies but I'm not following. How are you executing the second container?

[2017-01-04 01:50] FLYBYME commented on #216
Yes I'm building the application in one container and running it in another. That is without creating a docker image.

[2017-01-04 01:50] michaelshobbs commented on #216
Can you provide the `docker` command you are using for both containers please?

[2017-01-04 01:53] FLYBYME commented on #216
They are in the readme in the repo that I linked.

[2017-01-04 01:54] michaelshobbs commented on #216
Those commands don't reference `herokuish` at all.

[2017-01-04 02:04] FLYBYME commented on #216
https://github.com/MangoRaft/cedar/tree/master/runner is almost a copy of https://github.com/tt/stack-images.

herokuish runs on the image.

[2017-01-04 02:35] michaelshobbs commented on #216
Ah ok! That makes more sense.

So `herokuish` will attempt to run your app as an unprivileged user. The default user (`herokuishuser`) is included in the image for your use. If you don't pass in the `USER` env var `herokuish` will attempt to detect the user by running `stat -c %U /app` [here](https://github.com/gliderlabs/herokuish/blob/8ca51f4f408c8239ab1bf0f342e793be193bc613/include/herokuish.ba

[2017-01-04 16:43] FLYBYME commented on #216
@michaelshobbs  Perfect gold star for you.

I do think that it should not fail silently and should at least notify the user of any issue.

[2017-01-04 16:46] michaelshobbs commented on #216
Glad we worked it out. Agreed it shouldn't fail silently. PRs are welcomed. 😄

[2017-01-04 16:46] #216 closed

[2017-01-05 20:18] lxfontes commented on #205
and for those on runit:
`sudo ln -s /usr/bin/chpst /usr/bin/setuidgid`

[2017-01-30 05:32] Haybu commented on #62
docker run --rm -v $(pwd):/tmp/app gliderlabs/herokuish /bin/herokuish buildpack build foobar

works all good, where is the built image gets saved ?

[2017-01-30 05:36] josegonzalez commented on #62
If you do not `docker commit` the change, its simply in the ephemeral container that is running. You can either specify a name `--name` or use `docker commit` to save the image id.

[2017-01-30 15:26] joshmanders commented on #62
The built container is the one you run, you added the `--rm` flag to the `run` command, which means after the container exited, to remove it.

[2017-02-03 01:41] jesseshieh opened #232 "Flaky buildpack detection"
When I run `docker run --rm -v /tmp/app:/tmp/app gliderlabs/herokuish /bin/herokuish buildpack build`, the buildpack detected can be flaky. Any help is appreciated!

My app has a `.buildpack` file which means the `00_buildpack-multi` should be detected.
My app also has a `package.json` file, which means `02_buildpack-nodejs` should also be detected, but because the buildpacks are ordered, I expect

[2017-02-03 06:12] josegonzalez commented on #232
Can you duplicate the flaky builds with `TRACE` on?

[2017-02-03 17:28] michaelshobbs commented on #232
@jesseshieh can we also have the contents of your `.buildpacks` and `package.json`?

[2017-02-07 01:49] jesseshieh commented on #232
Here is the full trace output. I ran the build twice. The first time 00_buildpack-multi was detected, the second time it was not.
https://gist.github.com/anonymous/668af6455f71b56deb8f49408756080a

[2017-02-07 01:51] jesseshieh commented on #232
Here are the contents of the files.
[code]

[2017-02-07 18:40] michaelshobbs commented on #232
I can't make this happen. I built an image based on the v0.3.22 tag and composed an app dir like yours. Any other bits that could be different?

[code]

[2017-02-09 00:51] kevinob11 commented on #232
I was able to recreate the issue using this repo:

https://github.com/praece/dokku-multi-test

I put the output of my deploys in the dokku_trace_output folder, there is one example of it properly detecting multiple buildpacks and one where it just uses nodejs. I didn't get full trace output in the files for some reason, I'll try to get that done tonight.

[2017-02-09 17:41] michaelshobbs commented on #232
@kevinob11 thanks! I'll take a look ASAP.

[2017-02-09 17:46] michaelshobbs commented on #232
I still can't get this to happen locally. Can either of you pull down the latest herokuish (v0.3.25) and make it happen again? The more detail about your setup the better.

[2017-02-09 17:53] kevinob11 commented on #232
Sure, I've never used herokuish outside of dokku, but the docs look pretty straightforward. I'll give it a shot asap, but it will likely be this weekend.

Good explanation of my environment is available here:
https://github.com/dokku/dokku/issues/2551#issue-199411854

[2017-02-11 04:56] jesseshieh commented on #232
One weird thing I've noticed recently: in my setup, I use packer to generate a Google Compute Platform image based on ubuntu-1604-lts. Sometimes, when I generate an image (image A), the flakiness is there and no matter how many VMs I launch with image A, it's always flaky. Then, I'll generate another image (image B), and every new VM I launch with image B will not be flaky. So the flakiness seems

[2017-03-14 14:03] predakanga opened #239 "Silent failure on systems with Debian bash completion"
Background: I'm currently working to improve our developer experience by rolling herokuish into a Vagrant image, discovered this issue in the final steps.

Symptoms: When running `herokuish procfile start web` on a system with Debian's bash completion installed, herokuish exits silently with exit code 1

Trace: [trace.txt](https://github.com/gliderlabs/herokuish/files/841491/trace.txt)

Diagnosis:

[2017-03-14 15:53] michaelshobbs commented on #239
It is my understanding that herokuish was never intended to be executed via anything other than the  Ubuntu-based docker image distributed via Docker Hub [here](https://hub.docker.com/r/gliderlabs/herokuish/).

@progrium Feel free to chime in. Unless @progrium disagrees, this behavior will probably not change.

[2017-03-14 16:15] progrium commented on #239
I could go either way. Herokuish was definitely made for an appliance
container and customized versions of an appliance container, and anything
outside of that is definitely questionable in terms of project scope and
responsibility. I'm not sure I understand the involvement of set -e, but
afaik PS1 doesn't *need* to be set in this way. If there's a minor change
that can be done without breaking ex

[2017-03-14 16:22] michaelshobbs commented on #239
I'm 👍 on a well test PR that solves this. README entry is also fine. @predakanga feel like taking either of those on?

[2017-03-14 22:47] predakanga commented on #239
Certainly, I'll have a look and see what kind of test coverage is needed this afternoon - at a glance I think covering that PS1 is set during execution but not during profile load for all code paths should do the trick.

[2017-03-21 12:01] Finkes opened #240 "failing installation behind proxy: wrong docker argument ?"
Description of problem:

I try to install dokku on Ubuntu behind a corporate proxy following the official documentation. The installation fails during the installation of herokuish with following output:

[code]

I think this is a very simple issue, because the official docker docs says the flag is called **--build-arg** instead of **--build-args**! see : https://docs.docker.com/engine/reference/c

[2017-03-21 12:02] Finkes commented on #240
https://github.com/dokku/dokku/issues/2665

[2017-03-21 13:28] michaelshobbs commented on #240
Closing as this is an issue with dokku installation packaging and there's already an issue open to track it.

[2017-03-21 13:28] #240 closed

[2017-03-22 20:20] nikhil-bhandari opened #243 "Logs are not visible, if Procfile has a shell script #2667"
Hey,

If my Procfile is like:

[code]

I don't see application logs, but they start working if I run it like this

[code]

The Idea is to run a warm up script(wampup.sh) that hits the web process before it starts receiving requests.

More on that here: https://devcenter.heroku.com/articles/warming-up-a-java-process

I first thought that this is something related to dokku but then I tried a lot of

[2017-03-22 20:20] josegonzalez commented on #243
I think this has to do with the background process. Using a shell script in general works fine I think.

[2017-03-22 20:52] michaelshobbs commented on #243
I don't think this will work as we use `exec` to kick off the process in the container. My suggestion would be to use a [custom zero downtime check](http://dokku.viewdocs.io/dokku/deployment/zero-downtime-deploys/#customizing-checks) or a [post-deploy deployment task](http://dokku.viewdocs.io/dokku/advanced-usage/deployment-tasks/#deployment-tasks) to hit your process

[2017-03-22 20:52] #243 closed

[2017-03-22 21:02] nikhil-bhandari commented on #243
@josegonzalez Also mentioned about checks, but my production app is on heroku and I still need the script in my Procfile.

If its not possible to fix this, I'll try generating Procfile in the buildpack based on environment. I'm not sure if that's possible, but I'll try.

Thanks for your help. :+1:

[2017-03-27 18:48] callahad opened #244 "Fails silently when custom buildpack fails to download from Git"
The logic in [buildpack.bash](https://github.com/gliderlabs/herokuish/blob/1d75c33db3fb18b07327a5b09e1c16cf7967ed6d/include/buildpack.bash#L44-L83) attempts to `git ls-remote $url`, and falls back to trying to pipe from `curl` into `tar`, with arguments based on file extension.

In my case, I was using a buildpack with a GitHub, but `ls-remote` failed due to a connectivity issue. The following `ca

[2017-05-09 12:42] znz opened #255 "cannot install herokuish with docker-ce"
I installed docker-ce with viewing https://docs.docker.com/engine/installation/linux/ubuntu/ .
And install dokku with viewing http://dokku.viewdocs.io/dokku/#install-apt .
But I cannot install herokuish with dependency error.

[code]

Related: https://github.com/dokku/dokku/commit/1e387b3b420a49ff87d16265a30efade2f1a0dbf

[2017-05-09 14:54] michaelshobbs commented on #255
the herokuish deb packages are handled via dokku/dokku. Please open the issue there. Thanks!

[2017-05-09 14:54] #255 closed

[2017-05-10 07:25] eillarra opened #256 "Support for Heroku-16 Docker image"
Any plans for supporting the Ubuntu 16.04 based [heroku-16](https://hub.docker.com/r/heroku/heroku/) Docker image in the near future?
It will be a great addition, considering that the resulting Docker images will be a third of the size...

[label:enhancement]

[2017-05-10 09:20] josegonzalez commented on #256
The stack just hit stable 2 days ago. We will be sure to add support for it, but for now we'll be sticking to the cedar stack.

Thanks for the issue.

[2017-05-10 09:20] #256 closed

[2017-05-22 18:35] markpundsack opened #257 "Add `test` and `test-compile` sub commands to support Heroku CI"
Heroku CI added 2 new standard buildpack commands `bin/test` and `bin/test-compile`. It would be great if herokuish supported those commands to compile and run CI based on buildpacks. e.g. `herokuish buildpacks test`

[2017-05-22 18:43] michaelshobbs commented on #257
Can you please link to the docs on this? Also (given no other context) how are these different than `herokuish test`?

[2017-05-22 19:20] markpundsack commented on #257
Heroku CI: https://devcenter.heroku.com/articles/heroku-ci

Testpack API: https://devcenter.heroku.com/articles/testpack-api

`herokuish test` is kinda similar, but builds and runs the app normally, emulating what Heroku would do. This "tests" out your configuation so you can see how it would run on Heroku.

But `herokuish buildpack test` would run different commands, like `rake test`. It's not te

[2017-05-22 19:23] michaelshobbs commented on #257
Awesome! Thanks for adding context here. I'm not sure if this will get implemented in a timely manner given the current contribution level. However, if you want to take a stab at it, I'd be happy to guide you through any "herokuish-isms" you may bump up against.

[2017-05-22 19:34] markpundsack commented on #257
Thanks. We might pick this up as part of a GitLab issue. https://gitlab.com/gitlab-org/gitlab-ce/issues/26941

[2017-05-26 01:48] shuhaowu commented on #205
Maybe this could be added into the readme?

[2017-05-26 04:19] josegonzalez commented on #205
Pull requests welcome.

[2017-06-01 14:48] chrisnicola commented on #256
Is there a sense of when this will be looked at? Also, is this something that is as simple as forking and changing the image references here from `heroku/cedar:14` to `heroku/heroku:16`? Or is there a bit more to it?

[2017-06-01 14:48] josegonzalez commented on #256
@chrisnicola it'll be looked at when someone has time. Would you like to start working on it?

[2017-06-01 16:06] chrisnicola commented on #256
I would be happy to give it some of my time, but I'm new to Dokku, hence my initial questions. I'll get a bit deeper into Dokku itself before making an attempt.

[2017-07-03 16:21] cleptric opened #270 "Failing deployments after dokku update"
I upgraded to dokku 0.10.2 today, and after that, I got

[code]

I fixed this by setting `dokku config:set APP_NAME DOKKU_IMAGE=gliderlabs/herokuish:v0.3.29`

[2017-07-03 22:39] michaelshobbs commented on #270
Files in `/app/.heroku/php` are managed by the php buildpack. What's more interesting is that `gliderlabs/herokuish:v0.3.29` ships with the same version of the php buildpack as `gliderlabs/herokuish:v0.3.31`....

Are you overriding the buildpack version in anyway? i.e. using a `.buildpacks` file or specifying `BUILDPACK_URL` somehow? Were you shipping a `php.ini` file or some other php config to d

[2017-07-04 09:23] cleptric commented on #270
My `.buildpacks` file contains

[code]

I don't ship a `php.ini` or similar files.

[2017-07-04 15:26] michaelshobbs commented on #270
Can you provide a repo that reproduces this issue? Also can you try to deploy your app on heroku? This seems like an issue with whatever your app is doing and what the heroku buildpack provides but we'll need more information to narrow down the root cause.

[2017-07-04 16:28] cleptric commented on #270
I invited you to a private repo. This one doesn't have a `Procfile` but it still fails when deploying on my dokku instance.
I was able to deploy it to heroku without any issues.

[2017-07-04 17:29] michaelshobbs commented on #270
@cleptric Hrm. Worked just fine with `gliderlabs/herokuish:latest` for me. Console output below. Can you perhaps provide a gist of a failed deployment with `dokku trace on`?

[code]
[code]

[2017-07-04 17:37] michaelshobbs commented on #270
Thinking about it now however. I'm not sure what trace output would provide but who knows?! Can you think of anything different between my test that works and yours that does not?

[2017-07-04 17:59] cleptric commented on #270
The following fixe my problem:
[code]
Back to dokku/dokku#2828

[2017-07-04 17:59] #270 closed

[2017-08-24 21:33] krautnerds commented on #256
@josegonzalez We would also love to see this feature - what parts have to be tested after setting the base image to heroku16? Is the test coverage already big enough in this project?

Also to be discussed: Should there be a choice between cedar14 and heroku16?

[2017-08-28 21:47] blackjid opened #288 "Build in multi buildpack support and app.json support"
A few elements for context
- Heroku now supports multiple buildpacks natively. Is not necessary to use the heroku-buildpack-multi.
- As far as I understand, herokuish rely on buildpack-multi to run multiple buildpacks.
- With the new addition of the `buildpack test` command, is necessary to use a custom made buildpack-multi to run tests if your app needs multiple buildpacks or run tests from multi

[2017-08-28 22:11] josegonzalez commented on #288
You can do multiple buildpacks in a few different ways:

- using the buildpacks api to inject them (heroku only)
- multi-buildpacks (the `.buildpacks` file)
- app.json parsing

[2017-09-02 13:13] aleclarson opened #291 "FR: Respect .slugignore even when not using `slug` command"
As a user of `coffee-script`, I like keeping the .js files out of git (using `.gitignore`), but want them on my dokku server. Similarly, I want the .coffee files in git, but off my dokku server.

So I have two needs here:
- Disable `.gitignore` when pushing to dokku
- Apply `.slugignore` in its place

I need some guidance on how to do the first bullet.
The second bullet can be done with a predeplo

[2017-09-02 15:28] aleclarson commented on #291
Hmm, looks like I'll need a script that wraps around `git push` if I want to disable `.gitignore`.

So I might as well just replace the contents of `.gitignore` with what I have in `.slugignore`

[2017-09-02 15:28] #291 closed

[2017-09-02 16:36] josegonzalez commented on #291
Note: herokuish supports slugignore when building slugs, but Dokku does not use slugs so doesn't have that functionality. TlAs I said in chat, this isn't something that is missing in herokuish but in Dokku.

[2017-09-02 16:39] aleclarson commented on #291
Oh, I forgot that `herokuish` is just a dokku plugin and has no control over the `git push` behavior.

It just *feels* like a `herouish` feature because `.slugignore` is a Heroku thing.

Either way, I don't think Dokku can do anything about `.gitignore` preventing the .js files from being pushed to the Dokku server.

[2017-09-02 17:02] josegonzalez commented on #291
As I said before, this is a Herokuish feature. Heroku supports `.slugignore` files when build slugs. If you build a Herokuish slug, you get this functionality.

Herokuish is not a Dokku plugin. It is a standalone project that is released as a docker image. This docker image contains the `herokuish` binary and helper binaries, which can be used to build heroku-compatible slugs and docker images.

D

[2017-09-12 00:30] aleclarson opened #292 "NodeJS app restarts on failure, but cannot be curled"
I'm testing a NodeJS app that uses `herokuish` and everything works as expected after `git push` or `dokku ps:restart`. I'm testing what happens when the server crashes due to an unhandled error. The restart policy is set to `on-failure:10` and works as expected, with the server being successfully restarted. The problem is when I try to `curl` the server after it's been restarted (and after the pr

[2017-09-12 17:49] aleclarson commented on #15
@progrium Does `herokuish` make the system vulnerable by having a process with `root` access?

[code]

[2017-09-12 18:00] josegonzalez commented on #15
@aleclarson can you file a new issue?

[2017-09-12 18:01] josegonzalez commented on #292
This doesn't have anything to do with herokuish, but is a change in how docker works under dokku. Please see https://github.com/dokku/dokku/pull/2736 for more details.

[2017-09-12 18:01] #292 closed

[2017-09-12 18:01] aleclarson opened #293 "Herokuish root access vulnerability"
Does `herokuish` make the system vulnerable by having a process with `root` access?

[code]

[2017-09-12 19:23] aleclarson commented on #292
@josegonzalez So once that PR is merged, everything will work as expected?

[2017-09-12 19:48] josegonzalez commented on #292
@aleclarson Potentially, but I advise you to read through that pull request and the related issue for more details.

[2017-09-12 19:57] aleclarson commented on #292
@josegonzalez Wow, the fix has been in progress for a whole year. What are the recommended Docker and Dokku versions to roll back to while I wait?

[2017-09-12 20:16] josegonzalez commented on #292
@aleclarson please either comment on the issue/pull request in Dokku or ask in our online chat.

[2017-09-15 15:43] pynixwang commented on #256
1. ssh into your server
2. clone this repo
3. patch Dockerfile
4. build docker image
5. rebuild app

Dockerfile patch

change `heroku/cedar:14` to `heroku/heroku:16`
append `RUN apt-get update && apt-get install -y daemontools` to end

Build docker image
`docker build -t gliderlabs/herokuish:latest .`

Now you use heroku16 and app image only 600 MB.

[2017-09-15 15:47] pynixwang commented on #256
<img width="703" alt="screen shot 2017-09-15 at 11 46 32 pm" src="https://user-images.githubusercontent.com/1189879/30491535-2aa2f544-9a70-11e7-83b4-b500ba7aca7b.png">

image for proof.

[2017-09-15 17:43] chrisnicola commented on #256
Perhaps a bit off topic, but for those looking at this I highly recommend looking into deploying with just a Dockerfile instead of using heroku images. It is not very difficult to migrate to this from buildpacks and is much more flexible.

[2017-09-15 20:21] josegonzalez commented on #256
Copying a comment from @michaelshobbs in #294, with a minor change:

<small>I changed issue to pr</small>

[2017-10-20 14:19] sam3d opened #295 "Should an imported slug be able to run standalone?"
That is to say, even if I've done a `/build` in a container and _then_ exported the slug, when I import it back into a separate herokuish container, should I still need to run `/build` again before I can run `/start web`? Or is something weird going on?

[2017-10-20 17:17] sam3d commented on #295
Yeah this seems like odd behaviour. I have a node.js application that builds successfully inside of a herokuish container using `/build`. I then generate and export a slug:

[code]

Then I start a new container, copy the slug to `/tmp/slug.tgz` and run `herokuish slug import < /tmp/slug.tgz` which brings the node files into the `/app` directory correctly (including the `node_modules` that would no

[2017-10-20 18:11] josegonzalez commented on #295
What was the exit status of `/start web`?

[2017-10-20 18:20] sam3d commented on #295
Weirdly, there wasn't one. There's no output at all.

[code]

[2017-10-20 18:21] michaelshobbs commented on #295
To be honest, I don't use the slug feature. However, `/build` executes the buildpack's `compile`/`release` hooks and in this case, the node buildpack always downloads the node binaries. So *that* is expected behavior.

Regarding your original question about slug itself, I'm not 100% sure how this would work with interpreted languages as I don't think we tar up anything outside of the app dir. That

[2017-10-20 18:26] sam3d commented on #295
Thank you for confirming that this is the intended behaviour. I'll check the buildpack and see if I can find out where it puts its dependencies.

In the meantime, I need to distribute this application over a docker swarm. I was going to distribute the slugs and then run them through a local instance of herokuish on each node, but I didn't realise there would be computational and network requiremen

[2017-10-20 18:38] sam3d commented on #295
Okay yeah actually this distribution mechanism, it's easier to just distribute the application images and use them in a similar way to dokku. Thanks again for the confirmation!

[2017-10-20 18:38] #295 closed

[2017-10-24 21:32] markahesketh opened #297 "PHP buildpack build fails with ext-memcached requirement"
When I specify `ext-memcached: "*"` as a requirement in my `composer.json`, my build and deployment fails.

My composer.json is nothing special, the culprit seems to be `ext-memcached`:

[code]

When removing `ext-memcached`, the deployment works but unfortunately it is required for my app.

The output is as follows:

[code]

Any ideas? Sorry if this is specific to the buildpack, I've noticed a si

[2017-11-01 18:15] Shelnutt2 opened #301 "Update go buildpack for go dep support"
The go dep buildback needs updating in order to add support for go dep vendoring.

[2017-11-01 20:32] #301 closed

[2017-11-03 09:28] jstr commented on #244
I'm seeing this too. `build` exits with `The command '/bin/sh -c /build' returned a non-zero code: 128`.

[2017-11-03 15:30] michaelshobbs commented on #244
PRs welcomed

[2017-11-06 01:35] jstr commented on #244
After some investigation I found my issue was actually in `heroku-buildpack-multi` (https://github.com/drgarcia1986/heroku-buildpack-multi/blob/master/bin/compile#L23). However that package is no longer maintained and is not tracking issues.

[2017-12-07 11:41] lucasm-iRonin commented on #297
I believe the problem might be caused by outdated version of PHP buildpack - the one that herokuish uses is v122 which causes [this issue](https://github.com/heroku/heroku-buildpack-php/issues/251). People suggested using v127 - I did that, through `BUILDPACK_URL` and it worked for me.

[2017-12-09 01:56] migueloller opened #309 "Incorrect NODE_ENV set when running herokuish buildpack test"
After running `herokuish buildpack test`, the following is displayed:

[code]

When my tests run, though, `NODE_ENV` is actually set to `production` and not `test`.

[2017-12-10 03:44] josegonzalez commented on #309
Thats not actually something we handle, but is set by the underlying nodejs buildpack.

[2017-12-10 03:44] #309 closed

[2017-12-10 04:11] migueloller commented on #309
Ahh, I see. I’ll ipen an issue there. Thanks for the prompt reply!

[2017-12-15 16:23] nusnewob opened #311 "buildpack install doesn't checkout git submodules"
When installing buildpacks from git repos, it doesn't checkout any submodules in the git repos, which could result buildpacks dependent source code missing. To checkout submodules should be included as standard clone behaviour.

[2017-12-15 17:51] josegonzalez commented on #311
Do buildpacks on heroku have submodules, and do they check those out? I don't think they do, but I could be wrong.

[2018-01-10 11:56] carlossless opened #312 "Alpine Compatibility?"
Hello,

Thank you for your amazing work in creating and maintaining this wonderful tool.

I was wondering though if there's any plan to make it compatible with alpine, there's a few problems with group/user management from what I tested.

Thank you!

[2018-01-10 13:09] progrium commented on #312
Does the heroku stack use Alpine now?

On Wed, Jan 10, 2018 at 5:56 AM, Karolis Stašaitis <notifications@github.com

--
Jeff Lindsay
http://progrium.com

[2018-01-10 14:01] carlossless commented on #312
I missed this part of the documentation!

[code]

[2018-01-10 14:01] #312 closed

[2018-01-28 04:37] ViViDboarder opened #321 "Cannot execute any Procfile commands"
For some reason I can run `herokuish test` just fine, however `herokuish procfile start web` is failing and not printing any kind of message. It just exits with code 8. I also tried playing around interactively and didn't have any luck. `herokuish procfile exec echo test` or any other command will exit with code 8 as well.

`docker-compose.yml`
[code]

`Procfile`
[code]

[2018-02-05 04:01] jxltom opened #326 "Multiple commands is not supported in Procfile"
```command_a; command_b``` or ```command_a && command_b``` format command in Procfile is not supported.

This is because ```eval echo "$@``` in ```exec setuidgid "$unprivileged_user" $(eval echo "$@")```
 https://github.com/gliderlabs/herokuish/blob/1bf53652e0e3829924265c3db12dc8d072939363/include/procfile.bash#L55 will strip the multiple commands

[2018-02-05 20:54] davidkarlsen opened #327 "cannot run as non-root"
[code]

Also https://cr.yp.to/daemontools/setuidgid.html states that setuidgid can be run by root only, hence it seems herokuish can only be run as root? Should it not be possible to run as non-root, and specifically skip the setuidgid step if already being the correct user?

OpenShift typically requires containers to run as non-root, hence the request for the feature.

[2018-02-09 15:10] #327 closed

[2018-02-11 03:12] jxltom commented on #326
Currently I can only run multiple command by ```web $(command_a; command_b)```

[2018-02-12 17:19] michaelshobbs commented on #326
That is correct. I also use a `Makefile` to achieve executing multiple commands where absolutely necessary.

[2018-02-12 17:19] #326 closed

[2018-02-13 00:57] jxltom commented on #326
@michaelshobbs But in heroku, ```web: command_a; command_b``` is supported. Why not herokuish support multiple commands like that since herokuish is trying to emulating heroku?

[2018-02-13 01:11] josegonzalez commented on #326
Because its hard to do it and not a common pattern. I would actually say that such a Procfile is wrong, but since there isn't a Procfile standard out there, _shrug_.

If you would like to submit a pull request to change this (with tests!) feel more than free to do so. I'd be happy to review :)

[2018-02-13 01:24] jxltom commented on #326
@josegonzalez

OK. Thanks for clarifying my doubt.

[2018-03-08 02:28] josegonzalez commented on #297
This is a buildpack issue, and we periodically upgrade our packaged buildpacks. At the moment, we package php#v130.

[2018-03-08 02:38] #13 closed

[2018-03-10 21:33] michaelshobbs opened #346 "add test for grails 3.x"
grails 3.x is listed on heroku's [officially supported buildpack page](https://devcenter.heroku.com/articles/buildpacks#officially-supported-buildpacks). we should have tests for this.

[2018-03-28 10:38] Tyilo opened #348 "Update AUR package"
The package on AUR is for version 0.3.27, but the latest release of herokuish is 0.4.0.

Please update it: https://aur.archlinux.org/packages/herokuish/

@josegonzalez seems to be the maintainer

[2018-03-31 18:11] racktear commented on #321
The readme doesn't say it, but you are supposed to specify `$USER` environment variable. That variable controls the non-privileged user that will run your app.

If you don't set it, herokuish tries to set root's home directory to /app and then fails for valid reasons. I've learned it by doing `strace -s 50 -f /start web`

Anyway, even if I `export USER=herokuishuser` and then run my app, I still g

[2018-03-31 18:39] josegonzalez commented on #321
@racktear do you have an example repository - with instructions - we can use to verify that behavior?

[2018-03-31 18:45] racktear commented on #321
@josegonzalez sure. Here you go:

[code]

The last command fails with:

[code]

While `herokuish test` works fine.

[2018-04-02 17:31] racktear commented on #321
@josegonzalez Did you ever try this scenario yourselves? Maybe I'm doing something obviously wrong. I was unable to find any advice on how to run Herokuish apps in plain Docker, but looks like Dokku is doing something very similar.

If you find that there is really a problem somewhere, please let me know. I'd really like to try out Herokuish on a side-project.

[2018-04-02 18:46] josegonzalez commented on #321
I haven't had a chance to verify this, but generally I see this happen when either the app wasn't built properly or the dependency you want isnt actually installed.

[2018-04-03 19:51] racktear commented on #321
So, I've been digging a bit further. Here's what I've found:

- To run any command, herokuish first cleans up the `/app` directory: ( see [here](https://github.com/gliderlabs/herokuish/blob/master/include/herokuish.bash#L127) )
- When building (`/build`) it creates `profile.d` and other stuff, and moves it from build directory (`/tmp/app`) to `/app` ( see [here](https://github.com/gliderlabs/herok

[2018-04-03 19:57] racktear commented on #321
So, now I'm even more puzzled. How is it supposed to be used?

It is clear now why `herokuish test` works fine for me: because during `test`, both `build` and `start` are executed from the same entry point, and the `/app` directory is not cleaned in between.

[2018-04-07 16:11] racktear commented on #321
I've finally found the incantation that did it for me:

[code]

This was reverse engineered from dokku. Mounting the app to `/tmp/app` does _not_ work.

@josegonzalez please fix the README

[2018-04-07 17:00] josegonzalez commented on #321
Mind making a pull request with the requisite changes?

[2018-04-08 20:39] racktear commented on #321
@josegonzalez to be honest, I don't have an idea why my method worked. And what's the difference between `/app` and `/tmp/app`. I'm glad it worked, but I doubt this should be put to README without further considerations.

It would be great if you or someone else familiar with the codebase shed some light on the problem.

[2018-04-08 21:34] josegonzalez commented on #321
@michaelshobbs this is your baby ;)

[2018-04-09 21:29] michaelshobbs commented on #321
This is optional and not required ☝️

This is the normal usage of herokuish to build and run an app 👇
[code]
[code]
[code]

The `build` command will take your app repo from the `/tmp/app` mount and move the built product to `/app` in the resulting container image. You must then commit that to a local tag and run `/start web` (replacing `web` with whatever the appropriate `Procfile` key you've defi

[2018-04-13 16:36] neclimdul opened #349 "PHP and Python unable to run tests."
Seems from #288 there is no app.json support which means buildpacks like php and python don't even work completely. There's no test provided by the buildpack and you're expected to use app.json and without support it doesn't work.

This is a blocker for these languages using systems like gitlab autodev which us herokuish for zeroconf testing.

[2018-04-13 16:45] josegonzalez commented on #349
I have no idea how gitlab runs its "zeroconf testing", and to be honest, thats not really a herokuish problem. Dokku partially supports `app.json` manifests, but we do that on the Dokku-side, not within herokuish.

That said, if there is a way you can build this in that will replicate how it works on Heroku, I am all ears. Note that the `app.json` spec isn't even really maintained by them - in fav

[2018-04-13 16:59] neclimdul commented on #349
sorry. I don't have a lot of experience with heroku so my limited ability to explain the problem may have got this off on the wrong foot.

First gitlab's test step is based around `herokuish buildpack test` is what lead me to herokuish.

https://devcenter.heroku.com/articles/heroku-ci#php is where I was looking to solve this problem. It seems to be the only method I've found for providing testing

[2018-04-13 17:03] josegonzalez commented on #349
Seems like if that `test` file does not exist, we could check for the existence of an `app.json` in the application, extract the test command, and run it in the right context.

If you'd like to contribute that, we'd almost certainly accept it (with the accompanying tests to herokuish so we don't accidentally drop the functionality of course)

[2018-04-13 19:01] neclimdul commented on #349
Wouldn't it make sense to use the app.json script first and then fallback on the buildpack?

I'm willing to look at that but I have no idea where to start adding tooling to parse json and the like.

[2018-04-13 19:04] josegonzalez commented on #349
I would do whatever heroku does in this case. It seems like if the buildpack has a `test` command, it uses that over the app.json, based on the docs you linked to. But if you are confused, I would check there.

As far as where to start, [this](https://github.com/gliderlabs/herokuish/blob/e4bdd0d099171b464707d91ac590225a61357a7a/include/buildpack.bash#L209) location seems good, as it appears to be

[2018-04-13 19:53] neclimdul commented on #349
Comments like "For typical Ruby apps, you should not need to define scripts in app.json." would imply to me the opposite which makes sense. You should use explicit values over implicit defaults.

What about parsing json in bash? I would just use something like `jq` but I don't know how you treat dependencies like that.

[2018-04-13 20:12] josegonzalez commented on #349
I don't know what heroku does in terms of order of operations, so you should test that with sample apps where that isn't clear.

As far as parsing in bash, you might be able to get away with injecting a small golang binary to grab the test command.

[2018-04-17 17:32] neclimdul commented on #349
so the run process is pretty clear here https://devcenter.heroku.com/articles/heroku-ci-technical-detail-on-ci-lifecycle#step-5-the-test-run-is-executed

On each step first app.json is used. then buildpack is called.

so I've dug around and I'm just not clear on how to do any of that or how to develop or test herokuish. your irc channel has been pretty quite so not sure about fixing this myself.

[2018-04-17 18:15] josegonzalez commented on #349
@neclimdul sorry, I don't open irc much. Would you be willing to join us on slack with any questions?

[2018-04-17 18:29] neclimdul commented on #349
sure, request submitted.

[2018-04-17 18:48] josegonzalez commented on #349
You'll need to check your email for the invite :)

[2018-04-17 18:55] neclimdul commented on #349
I think your slackin is broken. slack.gliderlabs.com socket polling shows only 400 and the `/invite` POST returns a 403.

[2018-04-17 18:59] josegonzalez commented on #349
I've jumped on irc (I am savant) in the #dokku room if you want to say hi there.

[2018-04-20 13:26] VincentSurelle commented on #349
Hi,

How is this going ? I'm also trying Gitlab's Auto-Devops. And even if my app.json is complete, I can't test my PHP Application.

Any direction to get it work ?

Thanks ;)

[2018-04-20 18:00] neclimdul commented on #349
@VincentSurelle I haven't had time to dig in to the solution, there is some learning I need to do to address it.

For the time being I'm using https://github.com/neclimdul/heroku-buildpack-php to get past that particular pipeline job. It provides a test script that calls `composer test` which works as long as you create a test script in your composer.json. Take a look at https://getcomposer.org/do

[2018-05-10 10:03] peterhellberg opened #358 "Update go to version v87"
The latest tagged release of the Go Buildpack is [v87](https://github.com/heroku/heroku-buildpack-go/releases/tag/v87)

[2018-06-17 12:41] swilso793 commented on #349
Any news on this? I am currently stack at this point.

[2018-06-19 20:16] neclimdul commented on #349
@swilso793 what little time I had to look at this completely dried up. I did file an issue with gitlab since they are invested so maybe more eyes can get involved.

https://gitlab.com/gitlab-org/gitlab-ce/issues/47651

[2018-06-19 21:23] josegonzalez commented on #349
If anyone from Gitlab is reading this, if you want this to work for your customers, you're going to have to implement it. Its a great idea, and I think it makes a lot of sense to include it, but I don't have time to work on this and I don't think the other maintainers do either.

If anyone is asking for "news", there won't be any real updates unless someone either:

- writes the pull request to im

[2018-07-11 22:10] wernight opened #376 "Meteor not found"
Running GitLab Auto DevOps on a Meteor project fails at test phase:

[code]

Running GitLab 11.0.3-ce with GitLab CI 11.0 Alpine on Kubernetes (however most of that shouldn't matter): [Auto DevOps gitlab-ci.yaml line that fails](https://gitlab.com/gitlab-org/gitlab-ci-yml/blob/master/Auto-DevOps.gitlab-ci.yml#L88): Running `/bin/herokuish buildpack test` in `image: gliderlabs/herokuish:latest`.

I

[2018-07-14 00:09] josegonzalez commented on #376
Are you installing meteor? If not, that'll be your issue.

[2018-07-14 08:51] wernight commented on #376
How would I? First GitLab Auto DevOps doesn't do allow installing but I think this image could automatically handle that, i.e. install necessary tools automatically. IMO that's why GitLab is using this image for auto devops.

[2018-07-15 17:20] josegonzalez commented on #376
If you do not have meteor in your nodejs dependencies, then how would it know to install meteor? We simply do what would be done on heroku, nothing more. And no, we're not going to modify the underlying buildpacks to add meteor.

Can you gist the entire build output? You truncated all the parts that would indicate whether or not meteor was installed.

[2018-07-25 12:10] svengerlach commented on #349
We took @neclimdul's idea of a change in the php buildpack a little further and came up with a small [merge request](https://github.com/heroku/heroku-buildpack-php/pull/289) for heroku's official php buildpack. I especially liked the idea of using "composer test" as an entrypoint for my tests. Let's see if the change gets merged.

[2018-08-08 08:50] sarbull opened #377 "make: *** No rule to make target 'deps'. Stop."
[code]

[2018-08-08 10:35] sarbull commented on #377
Not applicable on mac.

[2018-08-08 10:35] #377 closed

[2018-08-17 15:38] natanrolnik commented on #311
Hey @josegonzalez!
So I'm having the same problem. I'm trying to use [this buildpack](https://github.com/vapor-community/heroku-buildpack) in Dokku. In Heroku it works fine, `swiftenv` is installed correctly and deploy succeeds. However, in Dokku, I get the following error after the buildpack is selected:

[code]

This happens in the following lines: https://github.com/vapor-community/heroku-build

[2018-08-17 15:40] josegonzalez commented on #311
@natanrolnik can you provide trace output for the build?

[2018-08-17 15:58] natanrolnik commented on #311
Sure, here it is:
https://gist.github.com/natanrolnik/8e6780dfef82f322ca8846e313d9b6bf

[2018-08-18 01:49] josegonzalez commented on #311
So we delete the .git directory during buildack installation. Not sure why, @progrium do you remember why this was the case? It’s basically the first commit in herokuish here
https://github.com/gliderlabs/herokuish/commit/7fad9743ce031cdd0920617d9b6b1cf63f63c23e .

[2018-08-18 19:28] natanrolnik commented on #311
@josegonzalez can you imagine why this `.git` removal is there? How could we test if things keep working if we remove this line?

[2018-08-18 20:01] josegonzalez commented on #311
No I cannot imagine, thats why I asked Jeff to comment.

[2018-08-19 19:45] michaelshobbs commented on #311
https://github.com/gliderlabs/herokuish/pull/378#issuecomment-414150888

[dokku](https://github.com/dokku/dokku) handles this prior to pushing the app into the herokuish container. i recommend following that same pattern here if you do not wish to utilize dokku.

[2018-08-19 19:57] josegonzalez commented on #311
I think this is for when the buildpack - for whatever reason - has submodules. Those seem to work fine on heroku, and I think they delete them when they are building slugs. Not really sure when _that_ happens - maybe a cleanup step after the buildpacks are executed?

[2018-08-20 15:31] michaelshobbs commented on #311
closing as PR is merged

[2018-08-20 15:31] #311 closed

[2018-09-11 08:21] jxltom opened #386 "File modification time are changed after application is copied to /app"
Currently after coping application to ```/app``` during building in herokuish, original file modification time are all lost and time for coping will be used.

This may cause issue when running some commands in custom buildpack. Such as in default python buildpack, ```collectstatic``` command will be run and this command should collect static files which modificaiton time are older than existed one

[2018-09-12 03:52] josegonzalez commented on #386
Do you mean [here](https://github.com/gliderlabs/herokuish/blob/591fb59252e82348538256a4002cc49947659a2c/include/buildpack.bash#L30)? If so, does `mv` have a preserve-timestamps property?

Also, I'm not really sure as to what `collectstatic` is supposed to do based on what you're saying. Like, what is a potential use case of that?

[2018-09-12 04:42] jxltom commented on #386
It looks like ```mv``` does not have a ```-p``` option, but maybe we could also use ```cp -p``` but delete original files.

[2018-09-12 04:49] jxltom commented on #386
The ```collectstatic``` command in python's django framework is used for collecting static files for web applications and then upload to remote/local storage which can be used for static file serving such as for nginx. This command won't collect static files which modified time are older than the existed ones (This means the files are not modified and shouldn't be re-collected/uploaded). The probl

[2018-09-12 05:59] josegonzalez commented on #386
Thanks for the explanation.

Is this verified to not be the case - the collectstatic affecting old assets - on Heroku? Or do you have the same issue with your app? If you can validate that on Heroku (please gist the output) that would be helpful.

I'd be happy to take a PR if we can verify the above.

[2018-09-12 06:00] josegonzalez commented on #376
Closing as there hasn't been a response in a while.

[2018-09-12 06:00] #376 closed

[2018-09-13 01:52] jxltom commented on #386
This is verified to not be the case on heroku. Here is the gist. I deployed same application both in heroku and in dokku. https://gist.github.com/jxltom/2896f8f3b7b024a07caad5bd06c7a888#file-deploy-by-dokku-L24

Note that in dokku, https://gist.github.com/jxltom/2896f8f3b7b024a07caad5bd06c7a888#file-deploy-by-dokku-L219, all 579 static files copied by ```collectstatic``` but in heroku, https://gis

[2018-10-24 10:08] swistaczek opened #393 "Install only dependencies task"
Hey, is it possible to use only 'test-compile' task? I would like to install all dependencies in the project using heroku buildpack, prepare artifact and later run on this artifact several another tasks (in parallel) on CI server (GitLab in my case but this is irrelevant).

[2018-12-10 06:57] HillLiu opened #398 "Can't install herokuish from source"
I take following steps for install herokuish from source, and face debian jessie not found issue.

http://dokku.viewdocs.io/dokku/getting-started/upgrading/#upgrade-from-source

My error message:

[code]

And take one url to try "http://deb.debian.org/debian/dists/jessie/InRelease"

It is 404 now.

[2018-12-10 21:15] MattB98 commented on #349
So I've followed this, with my composer.json looking like this:
[code]

My pipeline fails on test with the following:
[code]
What am I doing wrong?

[2018-12-11 12:50] MattB98 commented on #349
So changing it to `"test": "@php -v"` (which doesn't really do much useful) means the pipeline passes on test, but my question above is still relevant to the issue title.  Apart from referring to phpunit should there be additional scripts setup in my repo to drive the php testing?

[2018-12-12 14:47] josegonzalez commented on #398
Seems like we'll need to update the base `golang` image.

[2018-12-12 18:15] HillLiu commented on #398
@josegonzalez You're correct, When I update to 1.11.2 with
https://github.com/gliderlabs/herokuish/blob/master/Dockerfile.build

And the issue was gone.

I'm not sure if this issue need keep open, else please close it.

[2018-12-12 18:31] josegonzalez commented on #398
Mind filing a PR with that change?

[2018-12-12 19:00] HillLiu commented on #398
NP, Just create a quick PR. https://github.com/gliderlabs/herokuish/pull/399

[2018-12-12 20:08] #398 closed

[2018-12-21 22:24] kaneboojer opened #400 "Update PHP Buildpack"
Started seeing this error yesterday and noticed it seems to coincide with the v148 PHP buildpack release.

`Status: Downloaded newer image for gliderlabs/herokuish:latest
-----> PHP app detected
-----> Bootstrapping...

! ERROR: Failed to download minimal PHP for bootstrapping!
!
! This is most likely a temporary internal error. If the problem
! persists, make sure that you are not running a custo

[2018-12-23 18:11] matthewmueller commented on #24
Actually it looks like this is still happening. @OwlyCode explained it well, but it's a bit subtle because of the naming. To make it a bit simpler to follow, I'll use the node.js build process:

1. `/bin/herokuish buildpack build` builds the app from `/tmp/app` into `/app` For node.js, `/app` would include things like the node_modules built for linux. These are not present in `/tmp/app`

2. Next,

[2018-12-23 20:00] josegonzalez commented on #24
Mind filling a new issue?

[2018-12-24 07:49] matthewmueller opened #401 "Implicit Procfile support"
I'm not sure how dokku does this, but for node.js apps the Procfile is optional. If there's no Procfile, the command is implied from the `package.json`'s `scripts.start` key.

I think dokku is somehow calling this binary: https://github.com/heroku/heroku-buildpack-nodejs/blob/master/bin/release

I noticed that's not present in herokuish, is that intentional or just not supported yet?

[2018-12-24 07:56] matthewmueller opened #402 "slug generate gzips from /tmp/app, when it should gzip from /app"
Steps to reproduce:

### 1. Use a simple node app, I found this one from the examples or maybe the tests

**server.js**

[code]

**package.json**

[code]

### 2. Now you can run:

[code]

This will build and test the app, then generate the slug, then export it to the release volume. If you open that releases volume, you'll notice that it's just using your pre-built app, the one at `/tmp/app` and n

[2018-12-24 07:59] matthewmueller commented on #24
@josegonzalez done :-) https://github.com/gliderlabs/herokuish/issues/402

FWIW, It's not blocking me anymore. I actually kind of like the explicitness of the command I posted above, it allows me to exclude certain files from the tarball.

[2018-12-24 08:16] matthewmueller commented on #402
Alrighty, I found the offending line: https://github.com/gliderlabs/herokuish/blob/783f11bd80c714ce53c607097ffba1778733e17c/include/herokuish.bash#L126-L128

[code]

Basically, if `/tmp/app` exists, remove `/app` and replace it with `/tmp/app`. This is a bit unfortunate when you're building locally because it's basically trying to delete the source files.  Fortunately, if you do readonly on the vo

[2018-12-26 03:54] matthewmueller commented on #401
Oh! That's interesting. I don't think something is broken then, I'm probably just misunderstanding.

I'm basically looking to emulate how dokku does builds locally. I was using `herokuish buildpack build` (which looks like it calls `buildpack execute`), until I realized that it doesn't call your tests.

Then I started using `herokuish buildpack tests` because it says "Build and run tests for an ap

[2018-12-26 22:02] josegonzalez commented on #401
We don't run the tests within the built application. We just run build, [like so](https://github.com/dokku/dokku/blob/master/plugins/common/functions#L470-L487).

As this isn't directly related to a bug or feature, I'd encourage you to jump onto the [gliderlabs slack](https://slack.gliderlabs.com/) with further questions. We can sort them out there and then get anything documented/changed as neces

[2018-12-26 22:02] #401 closed

[2018-12-26 22:54] josegonzalez commented on #400
This is happening now. Thanks for the bump.

[2018-12-26 22:54] #400 closed

[2018-12-26 22:56] josegonzalez commented on #393
This is not currently possible. Feel free to file a PR to add this functionality if you wish :)

[2018-12-26 22:56] #393 closed

[2018-12-27 05:38] matthewmueller commented on #401
Thanks buddy, I really appreciate the help!

I'll give it another shot myself and jump on slack if I run into anything. Thanks again!

[2019-01-02 11:49] btb-dimitar commented on #400
I've been using PHP 7.1.18 with buildpack v136 for a long time, but now I'm getting this error:

[code]

I haven't changed anything in my setup. Looking at log files I think this started happening 12 days ago.

The error goes away if I switch to buildpack v148 and PHP 7.1.25

Is there a way to keep using v136 ??

[2019-01-02 22:09] josegonzalez commented on #400
No. The buildpacks are managed by heroku. They change urls and rebuild stuff constantly. As such, using an old version won't work for very long.

[2019-02-15 22:50] walkafwalka opened #428 "Add support for browser testing when using .buildpacks"
According to https://devcenter.heroku.com/articles/heroku-ci-browser-and-user-acceptance-testing-uat, the proper way for browser testing is to set `app.json` to the following:
[code]
However, herokuish does not support app.json. It does, however, support .buildpacks.

When I add the NodeJS and Google Chrome buildpacks, herokuish uses the multi buildpack and fails to test because it is not using th

[2019-02-15 23:43] walkafwalka commented on #428
/cc @josegonzalez

[2019-02-16 20:37] josegonzalez commented on #428
I don’t use the testing functionality in Dokku, but also this was contributed by folks using it for Gitlab. I’d certainly take a pull request to add support for `app.json` when detecting buildpacks for deploys and testing.

Also, you don’t need to CC a project maintainer, we’ll see the notification :)

[2019-02-16 20:39] josegonzalez commented on #402
That seems like a reasonable solution @matthewmueller, would you be interested in making a pull request?

[2019-02-16 21:45] walkafwalka commented on #428
Sorry, I cc'd you specifically cause I know you had commented on a related issue.

[2019-02-16 22:19] josegonzalez commented on #428
One thing that might make this difficult is that there isn't a binary that parses json we can use which we ship with Herokuish, though that can certainly be done in golang...

[2019-02-16 22:30] walkafwalka commented on #428
It still is not clear to me why `app.json` is required. According to the Heroku documentation, adding the google-chrome buildpack to the `app.json` file is all that is required. Theoretically, all that would need to be done is adding the google-chrome build (in addition to the original buildpack) to `.buildpacks`.

I think there is a fundamental difference between the way `app.json` and `.buildpac

[2019-02-17 00:02] josegonzalez commented on #428
We run the test for the [last selected buildpack](https://github.com/gliderlabs/herokuish/blob/master/include/buildpack.bash#L201), which chrome in this case.

[2019-02-17 00:10] walkafwalka commented on #428
Sorry, accidentally closed.

I have not seen this behavior. Whether I include the nodejs or google-chrome buildpack, I am still getting the following:
[code]

[2019-02-17 00:18] josegonzalez commented on #428
Ah, that seems wompy. Seems like we'd want to expand the buildpacks if multi is selected.

Can you show what this looks like on Heroku? I've actually never used this sort of functionality and it was contributed to the project, so there are bound to be small bugs like this.

[2019-02-17 18:56] walkafwalka commented on #428
I am having difficulties setting up testing in Heroku. Something I did notice is that Heroku says the multi buildpack is deprecated.

[2019-03-15 14:53] aldgagnon opened #445 "Update 'latest' Docker tag"
Are there plans to update the `latest` Docker tag to reference release v0.5.0?

[2019-03-15 15:31] josegonzalez commented on #445
Docker hub had an issue yesterday, but the images are now built/pushed.

[2019-03-15 15:31] #445 closed

[2019-04-15 06:45] MSchmidt opened #450 "Run scrips in .profile(.d) during container startup"
Would be great if herokuish started a bash shell during startup of a container just like Heroku does: https://devcenter.heroku.com/articles/dynos#the-profile-file

[2019-04-15 16:41] josegonzalez commented on #450
Where is `$HOME` in this case? I'm assuming `/app`.

I also wonder how this is impacted by Buildpacks V3 (asking in the chat there now).

[2019-04-15 16:46] MSchmidt commented on #450
That's correct. It's `/app` and already works when entering the container shell manually.

[2019-04-15 17:06] josegonzalez commented on #450
Okay, seems this is part of the v3 spec.

This should _already_ happen [here](https://github.com/gliderlabs/herokuish/blob/master/include/procfile.bash#L53).

Do you have an example where it isn't happening?

[2019-04-17 07:32] josegonzalez commented on #450
If this is with Dokku, you may wish to join us on our slack or irc channel to ask for support, as a GitHub issue isn't the best place to conduct that sort of conversation.

Given that this functionality appears to work, I'm going to close this. If it happens to be an issue with Herokuish, we can re-open at a later date.

[2019-04-17 07:32] #450 closed

[2019-04-19 01:40] Vendelieu opened #451 "Problems with installing"
i've go this issue when i installing - http://dokku.viewdocs.io/dokku/getting-started/advanced-installation/#custom-herokuish-build
[code]
all console log:
https://pastebin.com/JC8jXLPh

[2019-06-11 22:56] ViViDboarder commented on #321
Last looked at this quite a while ago, but I've updated my configuration to align with what is being described.

I'm doing all the building within a Dockerfile so I can use Docker Compose.

[code]

Building seems to work fine and I get an image out.

When I try to execute that image with `/start`, I see some weird behavior. Basically, it's running with the wrong ruby.

It seems like the correct en

[2019-07-01 20:21] EverybodyKurts opened #459 "buildpack can't complete if Gemfile.lock contains newer bundler version than the provided default version for the ruby version"
My gemfile specifies using ruby 2.6.3 and my Gemfile.lock specifies that it's bundled with version 2.0.2. Bundler version 2.0.1 is the one that comes with ruby 2.6.3.

Unfortuationely `buildpack test` will fail because of this, with the following error message:

[code]

[2019-07-28 16:05] MichalBryxi commented on #428
Just bumped into this myself. Trying to make [GitLab auto devops](https://docs.gitlab.com/ee/topics/autodevops/) work and the [test phase](https://gist.github.com/kurtbrose/32a4e9cc25e009176c8523a3f1508d81#file-gitlab-ci-yml-L66) constantly fails on me, because herokuish code does not know that I need `chrome` for my tests to run (quite common requirement in JS projects). So trying to figure out w

[2019-07-29 17:42] josegonzalez commented on #428
Ask the Gitlab folks? If they want to support this sort of functionality, they can either contribute the code or sponsor the work?

[2019-07-30 09:07] MichalBryxi commented on #428
Just for the documentation if anyone is interrested. A stop-gap solution for my problem described above: https://gitlab.com/gitlab-org/gitlab-ce/issues/53073#note_197564726

[2019-08-17 03:49] mlandauer commented on #451
I'm seeing this same error when building herokuish with `make build-in-docker`.

[code]

This looks to be a [go issue](https://github.com/golang/go/issues/27215) related to the introduction of modules. The fix for it will land in Go 1.13 but until then the following change to the `Makefile` does the trick as a workaround:

[code]

[2019-08-22 08:02] MisterCoder opened #481 "Lumen/Laravel issue when using Herokuish"
This is discussed in https://github.com/gliderlabs/herokuish/issues/188 but now it is also causing issues with Lumen/Laravel.

If you have a .env file in your Lumen/Laravel app it is read in via Herokuish. The DotEnv PHP package that Lumen/Laravel uses will not override existing ENV values so this causes nested values to fail.

Nested values are formatted like...

MY_VALUE=1234
MY_NESTED_VALUE=${M

[2019-08-22 08:24] MisterCoder commented on #481
I think I have a better solution. It looks like the .env parsing in Herokuish can be amended to resolve the issue and not break existing uses.

I'm going to experiment now.

[2019-08-22 08:36] MisterCoder commented on #481
Added a PR https://github.com/gliderlabs/herokuish/pull/482

[2019-08-22 08:40] MisterCoder commented on #481
Not sure if I'm on the right track with this but it looks like grouping the exports and running them via eval() *MAY* be causing them to be set as blank?

[2019-08-22 09:20] MisterCoder commented on #481
The tests I added seem to have passed in CI so it looks like I'm on the wrong track here.

[code]

[2019-08-22 14:48] MisterCoder commented on #481
Still having issues here.

When doing "buildpack test" with my lumen app the ENV vars based on other ENV vars (See above) are blank strings. I have confirmed this via var_dump()'ing $_ENV at the top of the PHPUnit bin file.

This only happens when using buildpack test so could be limited to the buildpack but I can't find whatever is setting the ENV value within it.

[2019-08-22 15:08] MisterCoder commented on #481
Dumping the `env` at the top of each buildpack `compile`, `test-compile` and `test` shows the ENV values have already been set to blank values.

[2019-09-14 06:06] tnir opened #485 "CircleCI is not working for PRs"
For #483 and #484, CI tests for PRs on CircleCI does not work at all. Before #483, it worked well for #482 and earlier.

See https://circleci.com/gh/gliderlabs/herokuish

[2019-09-14 06:06] tnir commented on #485
@josegonzalez Can you help us?

[2019-10-22 18:34] rugk commented on #428
Hm, is this really the best solution? This looks quite hackish… can't we get proper support in the main project here? :smiley:

[2019-10-22 18:42] josegonzalez commented on #428
@rugk Yes, thats the best solution you'll get. Myself and the other maintainers aren't using this sort of functionality at the moment, and aren't really interested in building it for free.

If you're interested in seeing this for the project in general, feel free to email me for consulting (email is in my github profile). If you think the Gitlab folks should support this in their platform, it's wo

[2019-10-23 03:37] brandonkal opened #498 "Feature request: Cloud Native Buildpack support"
Support CNB so downstream projects can benefit.
Ref: https://buildpacks.io/

[2019-10-23 10:11] heyarne opened #499 "Trouble building Clojure app"
Not sure if this is the right place, it might still be a better place than the dokku channel…
I'm having problems with building a [luminus](https://github.com/luminus-framework/) clojure app (that was just generated with `lein new luminus app-name +swagger`). The build output (after enabling tracing via `dokku trace:on`) looks like this:

[code]

The relevant lines seem to be the ones surrounding

[2019-10-23 15:49] josegonzalez commented on #498
I've already discussed this with the CNB folks.

The purpose of this project is to allow folks to emulate the Heroku build/runtime environment. Heroku - amongst others - will be moving to CNB at some point, and already provide a [shim](https://github.com/heroku/cnb-shim) for existing buildpacks in the new system. So in theory, any CNB platform would be able to use that shim + any tooling that supp

[2019-10-23 15:49] #498 closed

[2019-10-23 17:42] josegonzalez commented on #499
This also isn't the best place to discuss this - this is more a discussion for bugs in Herokuish, not specific issues with buildpacks - but a better place would be the #dokku channel on slack.

[2019-10-23 17:42] #499 closed

[2019-11-09 23:07] x-ji commented on #232
I just had this issue when trying to use Gigalixir. Took a while to figure out that my app was actually built as a Node.js app (since it has a `package.json` at the root)... No wonder it didn't run! I just took it for granted that since I have a `rel/config.exs`, it will be detected as an Elixir app with Distillery automatically.

I had to manually add a .buildpack file to make it work correctly.

[2019-11-09 23:19] jesseshieh commented on #232
@x-ji thanks for the feedback! That's a good idea. I'll put it in the docs somewhere. Also happy to accept pull requests if you know a good place to put it. https://github.com/gigalixir/gigalixir-cli/blob/master/docs/source/main.rst

[2019-11-09 23:21] x-ji commented on #232
👍 Didn't know the docs are open source. I can give it a try.

[2019-11-11 21:48] x-ji commented on #232
@jesseshieh Added relevant information in the docs https://github.com/gliderlabs/herokuish/issues/232

[2019-11-11 21:48] x-ji commented on #232
@jesseshieh  Added relevant information in the docs https://github.com/gigalixir/gigalixir-cli/pull/48

[2019-11-25 15:06] snow-jallen opened #502 "dotnet support?"
Would it be possible to ever have a buildpack for dotnet code?

[2019-11-25 15:39] jesseshieh commented on #502
I haven't used it, but there is this one:
https://github.com/jincod/dotnetcore-buildpack

It isn't built-in to herokuish, but you can put it in a `.buildpacks` file which herokuish supports with the multi buildpack.

[2019-11-25 15:50] #502 closed

[2019-12-20 13:52] devkokov opened #513 "PHP Buildpack Error"
I suddenly started getting this error on all my apps. What's the proper fix other than hardcoding a specific BUILDPACK_URL on all my apps?

Thanks!

-----> Bootstrapping...

 !     ERROR: Failed to download minimal PHP for bootstrapping!
 !
 !     This is most likely a temporary internal error. If the problem
 !     persists, make sure that you are not running a custom or forked
 !     version of

[2019-12-20 17:08] josegonzalez commented on #513
The released a new version for the minimal bootstrap yesterday [here](https://github.com/heroku/heroku-buildpack-php/blame/master/bin/compile#L221). I'm guessing the heroku workflow is to delete the old bootstrap, and this forces people to use the master branch of the php buildpack vs using an older one as time goes on.

I'm releasing a herokuish update today, so we should get the latest version s

[2019-12-20 17:08] josegonzalez commented on #513
Closed by https://github.com/gliderlabs/herokuish/pull/517

[2019-12-20 17:08] #513 closed

[2019-12-23 23:18] schittler commented on #326
I'd like to note with the backref above, that this is expected behavior in a lot of apps targeting heroku out of the box, like for instance https://github.com/tootsuite/mastodon

[2019-12-24 22:41] josegonzalez commented on #326
If you'd like to make a pull request implementing this functionality, that would be great. Otherwise, I don't think it's worth the effort.

[2019-12-26 19:44] ayr-ton commented on #348
This is already solved.
The current version is 0.5.3-1

Feel free to report the outdated package inside AUR itself at "Package Actions -> Flag package out-of-date"

[2019-12-27 22:05] #348 closed

[2020-01-14 09:37] turicas commented on #321
I'm having the same problem. It seems the Python's bin path is not on `$PATH` so it won't find the `gunicorn` executable (which was installed via `requirements.txt`). After running the commands @knazarov suggested:

[code]
I've found `gunicorn` executable inside `/tmp/cache/.heroku/python/bin` but I don't know how to make it available for the application. I've tried running it:

[code]

The reason

[2020-01-17 14:29] steffenrumpf opened #522 "Define a custom base image for docker containers build via herokuish"
Hi,
is there a way to define a custom base image for docker containers which are build via herokuish?

I tried the following but without success: https://devcenter.heroku.com/articles/build-docker-images-heroku-yml

Kind Regards
Steffen

[2020-01-17 14:32] josegonzalez commented on #522
@steffenrumpf is this a question for Dokku or for standalone herokuish usage?

[2020-01-17 16:20] steffenrumpf commented on #522
@josegonzalez I just want to know if it's possible so yes I guess it's about doku e.g. for npm builds to define my own base image for builds run via herokuish. Basically we use herokuish within GitLab-CI if that helps.

[2020-01-17 16:22] josegonzalez commented on #522
If this is for Gitlab's "autodevops" integration, then that has nothing to do with Dokku.

To use a different base image, you'll need to build your own version of herokuish using a custom Dockerfile. We only build herokuish based on Ubuntu 18.04 at the moment, and have no plans to change that at this time.

[2020-01-17 16:22] #522 closed

[2020-02-10 09:29] my6jay30 commented on #321
- dokku relys on buildpacks to build as a specific App (ex: python Django app).

If it show gunicorn not found means this app is not detected as a Python app.
For my case, I also encountered this error since I installed `npm` . Because it is detected as a node.js. Thus, it installed `heroku-nodejs-plugin` and  `node` instead of `python` under path: `/app/.heroku`.

- To solve this problem: specify

[2020-02-29 09:49] danabrey opened #529 "Building app with PHP buildpack issue"
I'm experiencing an issue when trying to deploy my PHP applications on Dokku, related to not being able to find the mbstring extension when using the PHP buildpack: https://github.com/heroku/heroku-buildpack-php

The issue is the same as explained here: https://github.com/heroku/heroku-buildpack-php/issues/395

[code]

I've ensured my version of herokuish (0.5.6) is up to date and I'm using the la

[2020-02-29 11:08] danabrey commented on #529
I've tried pinning to previous releases of the buildpack before this PR https://github.com/heroku/heroku-buildpack-php/issues/395

But no difference.

[2020-02-29 12:05] nemanjan00 commented on #529
Looks to me like it is PHP version related, not buildpack version related.

It looks it is a problem of missing system dependencies.

Multipack with apt buildpack and php buildpack seems to be a solution...

Add apt buildpack to you ``.buildpacks`` file:

[code]

Now, to define missing deps, create file ``Aptfile`` containing these 2 deps:

[code]

It should work after that.

[2020-02-29 15:34] danabrey commented on #529
Thanks @nemanjan00, I've given this a go. I changed to the two buildpacks:

[code]

And added the Aptfile:

[code]

But I still get the same result:

[code]

I am a bit suspicious that the `apt` buildpack isn't being downloaded before the php one - have I set that up wrong?

[2020-02-29 15:37] danabrey commented on #529
This PR seems to be relevant to the issue: https://github.com/heroku/heroku-buildpack-php/pull/394

But using this latest buildpack results in the same error.

[2020-02-29 16:52] haggen commented on #529
@danabrey

Check if you have a `BUILDPACK_URL` set on dokku, cause it overrides the `.buildpacks` files config.

[2020-02-29 17:04] danabrey commented on #529
Agh, can't believe I missed that @haggen, thanks a lot. I had tried overriding the `BUILDPACK_URL` with a specific tagged release of the PHP buildpack earlier today!

Removed that config setting and the solution from @nemanjan00 works perfectly. Thanks both.

[2020-02-29 21:12] sicutdeux commented on #529
I think this should not be closed until this libs are included by default on herokuish, since this breaks normal installs for dokku.

[2020-03-02 12:09] nemanjan00 commented on #529
To me, this sounds like just herokuish build is out of date

[2020-03-04 11:11] mirkogeest commented on #529
I had this same issue today, so I followed @nemanjan00 instructions:

- remove the BUILDPACK_URL env var at the server
- create .buildpack file with suggested content
- create Aptfile file with suggested content
- git add, git commit, git push to dokku server

But I get this error in the app logs:

I tried to add to Aptfile heroku-php-nginx, but got other errors.

Finally I removed the mbstring fr

[2020-03-04 16:18] sicutdeux commented on #529
Fixed my issues doing a mix of @nemanjan00 recipe, I have several builds using Dokku the most complex and probably will help @mirkogeest here it goes:

- Don't use BUILDPACK_URL env var, set the config using the `dokku buildpack:set` command:

` https://github.com/heroku/heroku-buildpack-apt,https://github.com/heroku/heroku-buildpack-php.git,https://github.com/heroku/heroku-buildpack-nodejs.git
`

[2020-03-04 16:35] sicutdeux commented on #529
And like i have said before, the last release #533 does not fix the issue with latest heroku-buildpack-php https://github.com/heroku/heroku-buildpack-php/releases/tag/v172 the library is still missing.

[2020-03-05 07:21] josegonzalez commented on #529
Are the packages not included with herokuish 0.5.7?

[2020-03-05 07:25] josegonzalez commented on #529
A PR to add the packages [here](https://github.com/gliderlabs/herokuish/blob/master/Dockerfile#L6) would work.

I would think the packages are available because of [this](https://github.com/heroku/stack-images/blob/df7cdc70854ea6bff3a3f1175524384cd9d6e9ed/heroku-18-build/installed-packages.txt#L336) but maybe there wasn't an updated cedar stack?

[2020-03-05 14:51] sicutdeux commented on #529
I  updated Dokku from apt before doing the fix i commented above, so i  think those packages where not included.

[2020-03-05 15:11] scasei commented on #529
@josegonzalez Thanks for reopenning this bug. Dont know whats wrong here, the docker images are from 20.02 (https://hub.docker.com/r/heroku/heroku/tags) and the related heroku-stack-image commit is from 31.01 (https://github.com/heroku/stack-images/commit/df7cdc70854ea6bff3a3f1175524384cd9d6e9ed)

So it would be great to have the Dockerfile changed as workaround?

[2020-03-05 15:14] scasei commented on #529
Here is a PR:
https://github.com/gliderlabs/herokuish/pull/534

[2020-03-05 15:22] scasei commented on #529
@josegonzalez Antoher hint: can somebody update the latest tag on docker hub?
https://hub.docker.com/r/gliderlabs/herokuish/tags

[2020-03-06 14:46] josegonzalez commented on #529
I just ran the following:

[code]

Seems like 0.5.7 should work fine?

Oh, heh. I didn't make the deb package release... I'll do that now.

[2020-03-06 14:48] josegonzalez commented on #529
Can folks try out 0.5.7?

If this works, I'll make sure we get deb releases into the herokuish release pipeline.

[2020-03-06 14:55] nemanjan00 commented on #529
Sure, will test it right now.

[2020-03-06 15:05] nemanjan00 commented on #529
I can confirm I was able to build my app, without any problems, and without Aptfile

[2020-03-06 15:05] josegonzalez commented on #529
Great! Closing.

[2020-03-06 15:05] #529 closed

[2020-03-06 15:08] scasei commented on #529
My gitlab ci still dies at building stage :(

[2020-03-06 15:09] scasei commented on #529
I really think the tag 'latest' has to be updated on docker hub: https://hub.docker.com/r/gliderlabs/herokuish/tags

[2020-03-06 15:15] nemanjan00 commented on #529
0.5.7 is ok, and latest is not

[2020-03-06 15:18] scasei commented on #529
@nemanjan00 And latest should be equal to 0.5.7 or do i miss something?

[2020-03-06 15:20] nemanjan00 commented on #529
Latest is quite weird concept.

In this case, master tag seems to be the latest tag

[2020-03-06 15:29] scasei commented on #529
I'm with you, but my gitlab loads the latest tag in autodevops, so without hacking deep and change everything, it would be cool if somebody with access to docker hub could update the latest tag please or is this so complicated eg more than 2 commands?

[2020-03-06 15:59] josegonzalez commented on #529
Pushed.

[2020-03-06 16:08] scasei commented on #529
@josegonzalez Really great, thank you, works like a charm!

[2020-03-06 16:56] josegonzalez commented on #529
Feel free to donate to the dokku patreon or opencollective to support further fixes on these sorts of projects.

https://patreon.com/dokku
https://opencollective.com/dokku

[2020-03-12 19:41] Neamar commented on #529
FWIW, anyone with the problem can just pull latest herokuish, no need to use the apt buildpack anymore:

[code]

[2020-03-27 12:05] richardcrichardc opened #541 "Python buildpack needs updating"
Python buildpack is docker image has bug where cache is always cleared: https://github.com/heroku/heroku-buildpack-python/pull/925

If I understand correctly you need to bump the python buildpack version.

[2020-03-31 18:37] josegonzalez commented on #541
Will be released as part of 0.5.9.

[2020-03-31 18:37] #541 closed

[2020-04-05 19:48] josegonzalez commented on #481
Closing as we weren't able to prove this was a bug in Herokuish (with the above test) and there hasn't been any follow-up in a while (note: I personally don't have time to setup a test laravel environment to try and reproduce this).

[2020-04-05 19:48] #481 closed

[2020-04-05 19:49] josegonzalez commented on #459
Thats an issue with the buildpack, not with this repository. Worth trying to replicate on heroku's CI platform and opening an issue upstream.

[2020-04-05 19:49] #459 closed

[2020-04-05 19:50] josegonzalez commented on #451
This should really be filed at the Dokku project. If the docs in this repository fail to build out a custom herokuish build, then we can fix it here, but as is, it sounds like the Dokku docs are a bit wrong.

[2020-04-05 19:50] #451 closed

[2020-04-05 19:55] josegonzalez commented on #349
The PHP buildpack has support for `bin/test` as of https://github.com/heroku/heroku-buildpack-php/pull/350.

If anyone would like to sponsor the work of adding `app.json` testing support, feel free to reach out.

[2020-04-05 20:00] jarthod opened #553 "No error message when custom buildpack download fails"
When passing an invalid buildpack URL like a simple string "ruby", the download fails without any error or explanation, when building it finishes like this:

[code]
→ the output stops here without any error, it's not even clear it failed in this case.

I also made one ticket about validating the buildpack URL: https://github.com/dokku/dokku/issues/3923
But even so some error handling need to be im

[2020-04-05 20:05] jarthod opened #554 "Warning about "Multi" when using a single buildpack looks confusing"
When replacing the default buildpack with a custom one using the `buildpacks:add` command, we get the following Warning:
[code]
Which has no reason to be here because there's only one buildpack so there's no ambiguity, this warning make it looks like we did something wrong and we're not sure if it's gonna execute two buildpacks. Apparently it doesn't but in this case the warning is misleading.

Re

[2020-04-06 13:14] abitrolly opened #555 "Run arbitrary commands inside buildpack"
I need to regenerate `Gemfile.lock` for my project. Heroku buildpack reads Ruby version specifier from `Gemfile` and creates an environment with this version. I'd like run `bundle update` command in that environment. Is that possible?

[2020-04-14 16:45] josegonzalez commented on #555
We support whatever the buildpack supports. Why not run `bundle update` locally and commit the updated files?

[2020-04-15 05:26] abitrolly commented on #555
@josegonzalez locally I was unable to install the old version of Ruby and dependencies that the project uses.

[2020-04-15 14:14] josegonzalez commented on #555
That sounds like an issue with your system, not with the buildpacks included here.

Regardless, a custom buildpack can be used - whether that is from scratch or a fork of an existing one - and you can add any commands necessary to those buildpacks to act against your repository. As this repository is meant to provide a compatibility layer with Heroku's buildpack system, adding non-standard functio

[2020-04-15 14:14] #555 closed

[2020-04-16 09:28] abitrolly commented on #555
@josegonzalez I am using Fedora. There Ruby version that ships with it is not compatible with the legacy code of the project. I thought that `herokuish` could help me to get the necessary development environment for Heroku quickly.

[2020-04-19 22:24] rNoz opened #563 "Error/Logs: behavior differs between Heroku/Dokku"
Hi,

I have been struggling with this for a couple of days without luck.

At the beginning I thought it was related with the app runtime, but since I tested directly on Heroku, I suspect it is with Dokku/Herokuish, but I suppose it can be

I start describing the behavior in case you know the solution. But if you want to reproduce it, I will upload a basic repo.

I have a basic phoenix (elixir) app

[2020-04-23 15:06] rNoz commented on #563
@josegonzalez Any clue? I was thinking if opening this issue in Dokku or here (Herokuish). After 4 days, I continue lost with this issue, while I see more activity in the Dokku repo.

[2020-04-26 02:07] josegonzalez commented on #563
Not sure, but we're just running the container fairly normally in Dokku. If it's going to stdout/stderr, then there shouldn't be any real issues here. Maybe elixer buffers logs and Heroku is setting some environment variable that stops it from doing so?

This definitely needs an app to reproduce this. Not that I have too much time to test this myself, but do you have a repo with all the code that

[2020-04-26 15:13] rNoz commented on #563
Hi, Jose. Thanks for answering. I asked in the Elixir community and indeed they say something like this:

But I don't find any env var that Heroku (or my local computer) is establishing to have different behavior. Also, it is expected that if the IO is not fast enough to consume the messages, it will send errors warning us eventually, but those are never seen.

I have prepared a repo for you, in c

[2020-04-26 21:05] josegonzalez commented on #563
Check what the request/response headers are on the app?

[2020-04-27 12:34] rNoz commented on #563
Yesterday I was doing some tests regarding the nginx cache without luck.

They differ in:

1. Response
  - HTTP/1.1 (Heroku = H, Local = L) vs HTTP/2 (Dokku = D)
  - Server: Cowboy (H, L) vs Nginx (D, although the proxy at the end is Cowboy in Phoenix)
2. Request
  - Accept-Encoding: gzip, deflate (H) vs gzip, deflate, br (D, L) => simplified because depends on the web browser too

Dokku:
[code]

[2020-05-01 17:17] josegonzalez commented on #563
Mind hopping on our slack to get further support? This sort of issue seems strange and not easy to debug via github issues.

[2020-05-02 13:27] rNoz commented on #563
Sure. I will refer to this issue there.

[2020-05-20 21:38] NicksonYap commented on #499
My dokku command output were too hard to read
This post actually helped me realize trace was on

[code]

Thanks!

[2020-05-28 11:44] vincetse commented on #349
Just sent a PR (heroku/heroku-buildpack-python#982) to get this added to the Heroku Python buildpack.  Hope it gets accepted.

[2020-06-01 15:28] josegonzalez commented on #349
Going to close this as it's not really something we can fix in this project. We'll pull in new versions of each buildpack as they come in.

[2020-06-01 15:28] #349 closed

[2020-08-20 12:01] dekristo opened #591 "--version"

[2020-08-20 15:03] #591 closed

[2020-09-18 14:33] guzmanoj commented on #428
A working solution that (hopefully) can save you from hours of trial and error :)
https://github.com/guzmanoj/herokuish-install-chrome
The script will resolve the chrome dependencies so that CHROME_BIN will be defined in the host OS.

[2020-10-05 12:56] betabandido opened #607 "Potentially outdated "latest" version on dockerhub"
Are there any plans to update the latest version published on dockerhub? It appears to not have been updated since May (see attached image).

![image](https://user-images.githubusercontent.com/5481662/95082166-ed7f0200-071a-11eb-8280-15c18937ac9d.png)

[2020-11-10 13:54] nemanjan00 opened #617 "Missing jq"
https://github.com/heroku/heroku-buildpack-nodejs/issues/856

[code]

[2020-11-18 22:57] betabandido commented on #607
@josegonzalez -- I've seen you've been working on drafting recent releases, so I was wondering if you can have a look at this. Gitlab is using the latest docker tag, and as it is now 6 months old, it does not have recent buildpack versions.

[2020-11-21 08:06] josegonzalez commented on #607
This has to do with the fact that the binary isn't available just yet in CI when docker hub tries to build it. Not much I can do about that since hub is what triggers the build, not this repo.

I've triggered the build for now and will add this to my release steps.

[2020-11-21 08:06] #607 closed

[2020-11-23 05:19] josegonzalez commented on #617
Fixed in v0.5.20.

[2020-11-23 05:19] #617 closed

[2021-01-06 11:03] nerg4l opened #634 "Log buildpack version"
Recently on dokku slack someone reported an issue about an ignored version tag in their `.buildpacks` file. The log only contained the following:

[code]

I tested his report but I was not able to reproduce it. However, simply logging the buildpack version could help investigating such issues. Moreover, if herokuish could log the version when using the latest buildpack then compatibility issue cou

[2021-01-07 13:10] josegonzalez commented on #634
The log output there comes from the buildpack upstream. There is a log output change that was added but never released, so I asked for a release to be made here: https://github.com/heroku/heroku-buildpack-multi/issues/19

I would recommend PR'ing any changes to the logging to that repo instead, and we'll pick it up once its released.

[2021-01-07 13:19] nerg4l commented on #634
Thanks for the info and for opening that ticket.

[2021-01-07 13:19] #634 closed

[2021-01-20 00:39] adzap opened #644 "Add support for .profile bash file per Heroku"
Heroku offers a way to run bash commands from the `.profile` file in app root which is executed for all proc types before the proc command itself [https://devcenter.heroku.com/articles/dynos#the-profile-file](https://devcenter.heroku.com/articles/dynos#the-profile-file)

[2021-01-20 00:58] josegonzalez commented on #644
Looks like we can add this by adding a source [after this line](https://github.com/gliderlabs/herokuish/blob/master/include/procfile.bash#L111) to the file if it exists. Something like `touch $app_path/.profile && source $app_path/.profile`?

Mind making a PR for that? :)

[2021-02-16 02:26] adzap commented on #644
See #651

[2021-02-25 09:46] josegonzalez commented on #644
Merged and released in 0.5.26. Thanks for the PR!

[2021-02-25 09:46] #644 closed

[2021-03-13 10:17] ltalirz opened #659 "add rng-tools for more entropy in `dev/random`?"
[`libsodium`](https://github.com/jedisct1/libsodium) requires some "randomness" at startup - if not enough entropy is available from `/dev/random` [it hangs](https://doc.libsodium.org/usage#sodium_init-stalling-on-linux), and in containers there can be little sources for entropy.

As described in the [docs of libsodium](https://doc.libsodium.org/usage#sodium_init-stalling-on-linux), one workaround

[2021-03-19 03:18] josegonzalez commented on #659
Does heroku have that? My concern is moving too far away from their base offering. Not opposed to it, just want to be careful of how we differ so that folks don't get the wrong idea.

Additionally, I wonder if this is something that would impact cloud native buildpacks, which are the future of buildpacks in general. Would be great if you can inquire in that community slack about this as well.

[2021-04-02 08:58] clemh78 opened #670 "Export_env : command not found"
Hello guys,

We have an error when we run herokuish image on offline environment!

This is an example with an java app:

``docker run --rm -v / root / app /: / tmp / app gliderlabs / herokuish: v0.5.27 / bin / herokuish buildpack test``
``-----> Java app detected``
``/ tmp / buildpacks / 05_buildpack-java / bin / test-compile: line 18: export_env: command not found``
``2021/04/02 08:52:33 exit sta

[2021-04-22 05:00] josegonzalez commented on #670
It is up to a specific buildpack to support offline functionality. In this case, it's the heroku buildpack that forces [the following url](https://github.com/heroku/heroku-buildpack-java/blob/c7b2d504e803eec586787a3e47f1e1b6ae85edf7/lib/common.sh#L4).

Feel free to ask upstream to make that an env var so you can overwrite it and we'll pull the update in. The python does it like [so](https://github

[2021-04-22 05:00] #670 closed

[2021-06-25 15:54] jenshenny opened #679 "Update ruby buildpack to v228"
The newest [ruby buildpack](https://github.com/heroku/heroku-buildpack-ruby/releases/tag/v228) release upgrades Bundler to 2.2.21 which introduces fixes to the "dependency confusion vulnerability".

My organization's infrastructure would like to adopt this change asap, would it be possible to update the ruby buildpack to v228 and cut a new release?

[2021-06-28 15:46] jchestershopify commented on #679
xref #683

[2021-06-28 20:12] jchestershopify commented on #679
@josegonzalez I think we can close this now. Thanks for being so quick!

[2021-07-12 04:45] #679 closed

[2021-07-13 05:21] spyderz42 opened #691 "Change node js and php detection order"
The PHP composer.json file is only used in php projects where the node package.json is used in all sorts of projects. Can you move 09_buildpack-php to 02? Or probably better, move 02_buildpack-nodejs down to 09? I am currently working around this in the gitlab autodevops ci/cd by adding some pre and post scripts to the pipeline

[code]

[2021-07-26 20:27] schmijos opened #692 "Errors in post-install scripts"
The last two lines in the post-install script cause errors if no dangling images are present:

[code]

Source: https://github.com/gliderlabs/herokuish/blob/master/contrib/post-install#L19-L23

[2021-09-15 13:38] DCNick3 opened #698 "Execute command inside bash instead of exec"
Currently the command specified in `Procfile` is [executed with exec]( https://github.com/gliderlabs/herokuish/blob/bd3211657125cd66fe297c42a61feaf288f9d25e/include/procfile.bash#L58/), which does not seem to be in line what heroku does, as it breaks, for example, dotnetcore-buildpack (see dotnetcore-buildpack#145).

I propose to wrap the command executed in `bash -c` to support it:

[code]

[2021-10-08 15:06] nicolas-brousse opened #699 "Use latest heroku images to fix Let's Encrypt root certificate expiration"
:wave: I've got an issue by using herokuish with a dokku deployment today.
While deploying a dependency is installed using git clone, but I've got `server certificate verification failed. CAfile: none CRLfile: none` error.

If I try to git clone a repository with git server that use Let's Encrypt (with ISRG Root X1, not the expired one) on latest `gliderlabs/herokuish:latest-20`, I've got this err

[2021-12-20 16:19] PauloFavero opened #732 "Fails to find nodejs version"
Hi

I am using gitlab CI Auto devops pipeline but it fails when executing the test command.

Herokuish detects the build pack but it seems unable to install a version of Nodejs. I tried to specify many different version of nodejs in the package.json and the error is always the same.

Here is the test pipeline log.

[code]

[2021-12-20 16:27] josegonzalez commented on #732
Other than the title, this is use has no information, so I’m not sure how I would even begin to debug this. I’m going to close this, but feel free to comment with an explanation of what you are doing, what you expect to happen, what actually happened, and a code base I can replicate your issue with.

[2021-12-20 16:28] PauloFavero commented on #732
Sorry, I miss clicked and the issue was created without a description. I already updated the issue.

Thanks

[2021-12-20 19:24] PauloFavero commented on #732
@josegonzalez if you need further info regarding the test environment please let me know.

[2021-12-20 19:38] josegonzalez commented on #732
Do you have a sample app I can run with? Additionally, you might want to open up a ticket with Gitlab, as this is part of their autodevops product, and I've already mentioned to them that its basically unsupported other than updating buildpacks.

[2021-12-20 20:05] PauloFavero commented on #732
I will provide a small setup to reproduce this behavior. In parallel, I will create an issue with Gitlab.

[2021-12-21 20:27] josegonzalez commented on #732
Maybe if you can set the `--ulimit memlock=-1` docker option, that would work. We had a similar issue [here](https://github.com/dokku/dokku/issues/4670#issuecomment-870927881) in dokku.

Closing as I'm pretty sure this is going to be fixed client-side, not in this repo.

[2021-12-21 20:27] #732 closed

[2022-04-02 06:35] josegonzalez commented on #699
afaik we do that already by using their build image: https://github.com/gliderlabs/herokuish/blob/master/Dockerfile#L2

What do we need to do to fix this?

[2022-04-02 06:39] josegonzalez commented on #698
I'm not sure why eval was used, so I'm hesitant to change process execution like that. @progrium do you remember why we use eval instead of bash -c here? https://github.com/gliderlabs/herokuish/commit/389a74ed28ff7cbab57ba5362d2569567ebde090#diff-ccd15731721e777c0db64b6a0c8374c2c22c512b18f8ab156306c98b64ca44c5R21

[2022-05-06 13:55] betabandido opened #764 "Draft new release"
The Go buildpack was updated on Apr 1st to v161. That version includes support for Go 1.18, which we would like to use. Would it be possible to draft a new herokuish release so that its consumers (e.g., GitLab) can use the latest version?

[2022-05-06 16:15] josegonzalez commented on #764
I just pushed out `0.5.35`. Thanks for the reminder.

[2022-05-06 16:15] #764 closed

[2022-05-10 23:55] josegonzalez commented on #691
I will only do this according to the order that is used by Heroku. Can you verify that heroku does exactly what you are proposing?

[2022-08-29 19:01] Shchvova commented on #87
Sorry for commenting an old issue, but server ARM crawled its way into main stream since the original issue was closed. Pretty much all cloud providers now have ARM offerings.
For example, you can get 16 core 50+ gb RAM machine for oracle cloud free tier. Any chances on making herokuish available for those types of machines? This is especially relevant today, with heroku hiking up prices and getti

[2022-08-29 19:05] josegonzalez commented on #87
Herokuish itself should work fine on ARM.

The problem is that many of those buildpacks either download pre-compiled things for AMD64 or only target AMD64. Some might work out of the box (golang, maybe java) but others (python, ruby, php) would probably need work in order to target ARM. At that point, I'm basically maintaining the buildpack codebases and files, and I already don't have enough time

[2022-08-31 13:15] tadeoos opened #790 "Question: Can I use the Heroku-22 stack already?"
Hey,
Thanks a lot for building and maintaining this!

I'm a bit confused about the stack versions. The readme of this repo says:

The linked page lists the heroku-22 images with a status "suggested". I couldn't find any docs on how the herokuish images are related to the official images — if an image in the heroku repo exists does this mean I can automatically use `gliderlabs/herokuish:latest-22`

[2022-08-31 14:43] josegonzalez commented on #790
We haven't supported heroku-22 since their setup wasn't completed until somewhat recently (not even sure all official heroku buildpacks are supported still).

We'd need an MR to add that functionality.

[2022-08-31 15:32] tadeoos commented on #790
Understood, thanks for a quick reply!

[2022-08-31 15:32] #790 closed

[2022-08-31 15:38] josegonzalez commented on #790
There is an MR open for this btw: https://github.com/gliderlabs/herokuish/pull/792

[2022-10-11 09:06] progrium commented on #698
its been almost a decade but my feeling is that it had to do with it being
a weird quoting situation and not finding an alternative that properly
evaluated the intended $@

On Fri, Apr 1, 2022 at 11:39 PM Jose Diaz-Gonzalez ***@***.***>
wrote:

--
Jeff Lindsay
https://progrium.com

[2022-11-17 07:22] ngrichyj4 opened #814 "Error during installation: manifest for not found for v0.5.40"
It seems a new version has been released 0.5.40 but it hasn't been tagged yet in Dockerhub.

Importing herokuish into docker (around 5 minutes)
Error response from daemon: manifest for gliderlabs/herokuish:v0.5.40-18 not found: manifest unknown: manifest unknown
Error response from daemon: manifest for gliderlabs/herokuish:v0.5.40-20 not found: manifest unknown: manifest unknown
Error response fro

[2022-11-17 13:26] henningjensen commented on #692
Got the same problem.
Have submitted a new pull request with a fix for this.
#815 https://github.com/gliderlabs/herokuish/pull/815

[2022-11-18 07:39] danjac commented on #814
Currently unable to update Dokku instances because of this issue.  Looks like last Docker update was 14 days ago:

https://hub.docker.com/r/gliderlabs/herokuish/tags

[2022-11-18 10:16] stephenson commented on #814
Same here.

[2022-11-19 01:46] dkulchenko commented on #814
For anyone who's dokku/etc. install broke because of this, this will get you back to working (on Debian/Ubuntu):

`sudo apt install herokuish=0.5.39`

[2022-11-19 13:22] codesalatdev commented on #814
What an embarrassing oversight

[2022-11-19 16:03] bloodearnest commented on #814
The only embarrassing thing about your comment is that you thought it was worth making.

Thanks for all your hard work @josegonzalez. Synchronising releases to multiple targets is tricky, unsurprising that we get occasional mismatches. 👍

[2022-11-19 16:05] codesalatdev commented on #814
Hell, everyone gets sick once in a while. But how a failing release ended up in the repos... That's beyond me.

[2022-11-19 16:07] bloodearnest commented on #814
Clearly.

[2022-11-19 16:09] codesalatdev commented on #814
I'm sorry I so deeply offended you with my comment. I do not doubt there's a lot of effort going into this project, but a failing install/update might not convey that to other users.

[2022-11-19 17:36] bensteinberg commented on #814
Thanks for all your hard work, @josegonzalez. I'm very sorry you're sick, and hope you feel better soon. I'll take a look at the actions on the release branch, though I may not be able to shed any light -- we've had a pretty hard time getting multi-arch builds to work.

[2022-11-19 17:56] bensteinberg commented on #814
For anyone else who wants to take a look, I believe the build in question is [here](https://github.com/gliderlabs/herokuish/actions/runs/3482243720/jobs/5825493414) and the failure looks like
[code]
Here's [herokuish.go](https://github.com/gliderlabs/herokuish/blob/release/herokuish.go) and [.github/workflows/release.yml](https://github.com/gliderlabs/herokuish/blob/release/.github/workflows/relea

[2022-11-22 04:52] salomvary commented on #814
Thanks for your hard work on this project @josegonzalez, I hope you fully recovered from the sickness! Otherwise don't worry too much about the occasional bad release, most of us _know_ how to install a previously working version instead of blaming you here ;)